In [6]:
import pandas as pd
import numpy as np
from pathlib import Path
import csv
import xlrd
import io
from zipfile import ZipFile

In [2]:
import datetime 
base = datetime.date(2020,2,1)
for i in range(0,10): 
    d=base + datetime.timedelta(i)
    d=d.strftime("%Y%m%d")
    print(f"N029kakutokuruiseki{d}.csv")

N029kakutokuruiseki20200201.csv
N029kakutokuruiseki20200202.csv
N029kakutokuruiseki20200203.csv
N029kakutokuruiseki20200204.csv
N029kakutokuruiseki20200205.csv
N029kakutokuruiseki20200206.csv
N029kakutokuruiseki20200207.csv
N029kakutokuruiseki20200208.csv
N029kakutokuruiseki20200209.csv
N029kakutokuruiseki20200210.csv

In [3]:
from datetime import datetime, timedelta

def date_range(start_date: datetime, end_date: datetime):
    diff = (end_date - start_date).days + 1
    return (start_date + timedelta(i) for i in range(diff))

In [2]:
#pandasの表示列数を増やす
import pandas as pd
pd.set_option('display.max_columns', 100)

In [3]:
column_names = ['実績月','入会申込番号','直近３ケ月買物利用金額','直近３ケ月全体利用金額','年令','性別',
                '都道府県名','顧客状況コ－ド','マイペ設定','DM希望店','カード券種名','カ－ド加入日','初回利用日',
                'あとからリボ申込有無コード','Weｂ明細有無コード','解約','入会チャネル']

In [5]:
filename = "【C063】新規入会者_3月末時点.xlsx"
print(filename)

【C063】新規入会者_3月末時点.xlsx

In [254]:
data_dir = Path("C:/Users/yakad\Documents/Yusuke_Akada_Jupyter_Notebook-master/file")

In [270]:
df = pd.read_excel(data_dir/f"{filename}")

In [271]:
df.head()

,実績月,入会申込番号,直近３ケ月買物利用金額,直近３ケ月全体利用金額,年令,性別,都道府県名,顧客状況コ－ド,マイペ設定,DM希望店,カード券種名,カ－ド加入日,初回利用日,あとからリボ申込有無コード,Weｂ明細有無コード,解約,入会チャネル
0,201910,155051921422628,910,910,77,男性,兵庫県,0,0,Ｄ_神戸店,大丸松坂屋VISAゴールド,20190801,20190816,1,1,0,オンライン
1,201910,155051921427056,910,910,77,男性,兵庫県,0,0,Ｄ_神戸店,大丸松坂屋VISAゴールド,20190801,20190816,1,1,0,オンライン
2,201910,155051921427064,910,910,77,男性,兵庫県,0,0,Ｄ_神戸店,大丸松坂屋VISAゴールド,20190801,20190816,1,1,0,オンライン
3,201910,155193016401040,594,594,52,女性,大阪府,0,0,Ｄ_心斎橋店,大丸松坂屋VISAゴールド,20190801,20190918,0,1,0,店頭タブレット
4,201910,155193006218453,151,151,46,女性,兵庫県,0,0,Ｄ_神戸店,大丸松坂屋VISAゴールド,20190802,20190818,0,0,0,店頭タブレット

In [272]:
print(df.shape)
print(df.index)
print(df.columns)
print(df.dtypes)

(63197, 17)
RangeIndex(start=0, stop=63197, step=1)
Index(['実績月', '入会申込番号', '直近３ケ月買物利用金額', '直近３ケ月全体利用金額', '年令', '性別', '都道府県名',
       '顧客状況コ－ド', 'マイペ設定', 'DM希望店', 'カード券種名', 'カ－ド加入日', '初回利用日',
       'あとからリボ申込有無コード', 'Weｂ明細有無コード', '解約', '入会チャネル'],
      dtype='object')
実績月               int64
入会申込番号            int64
直近３ケ月買物利用金額       int64
直近３ケ月全体利用金額       int64
年令                int64
性別               object
都道府県名            object
顧客状況コ－ド          object
マイペ設定             int64
DM希望店            object
カード券種名           object
カ－ド加入日            int64
初回利用日             int64
あとからリボ申込有無コード     int64
Weｂ明細有無コード        int64
解約                int64
入会チャネル           object
dtype: object

In [273]:
df['入会チャネル'].unique()

array(['オンライン', '店頭タブレット', '郵送'], dtype=object)

In [274]:
df[df['入会チャネル']=='オンライン'].head()

,実績月,入会申込番号,直近３ケ月買物利用金額,直近３ケ月全体利用金額,年令,性別,都道府県名,顧客状況コ－ド,マイペ設定,DM希望店,カード券種名,カ－ド加入日,初回利用日,あとからリボ申込有無コード,Weｂ明細有無コード,解約,入会チャネル
0,201910,155051921422628,910,910,77,男性,兵庫県,0,0,Ｄ_神戸店,大丸松坂屋VISAゴールド,20190801,20190816,1,1,0,オンライン
1,201910,155051921427056,910,910,77,男性,兵庫県,0,0,Ｄ_神戸店,大丸松坂屋VISAゴールド,20190801,20190816,1,1,0,オンライン
2,201910,155051921427064,910,910,77,男性,兵庫県,0,0,Ｄ_神戸店,大丸松坂屋VISAゴールド,20190801,20190816,1,1,0,オンライン
12,201910,155051921416265,586,586,27,女性,和歌山県,0,0,Ｄ_心斎橋店,大丸松坂屋VISAゴールド,20190805,20190819,0,1,0,オンライン
13,201910,155051921422230,0,0,56,男性,大阪府,0,1,Ｄ_梅田店,大丸松坂屋VISAゴールド,20190805,0,0,1,0,オンライン

In [275]:
df = df[df['実績月'] == 202003]
print(df.shape)

(39000, 17)

In [276]:
#入会申込番号の重複がないかチェック
print(len(df) == len(df['入会申込番号'].unique()))

False

In [277]:
#重複削除
df_dup = df.drop_duplicates(subset='入会申込番号')

In [278]:
df_dup.shape[0]

33277

In [279]:
#欠損データがないかチェック
df_dup.isnull().sum()

実績月              0
入会申込番号           0
直近３ケ月買物利用金額      0
直近３ケ月全体利用金額      0
年令               0
性別               0
都道府県名            0
顧客状況コ－ド          0
マイペ設定            0
DM希望店            0
カード券種名           0
カ－ド加入日           0
初回利用日            0
あとからリボ申込有無コード    0
Weｂ明細有無コード       0
解約               0
入会チャネル           0
dtype: int64

In [280]:
df_dup['初回利用日フラグ'] = df_dup['初回利用日'].apply(lambda x : 1 if x > 0 else 0)

C:\Users\yakad\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [283]:
df_dup['初回利用日'][df_dup['初回利用日'] == 0] = 99991231

C:\Users\yakad\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\yakad\Anaconda3\lib\site-packages\pandas\core\generic.py:9114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
C:\Users\yakad\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [284]:
df_dup.head()

,実績月,入会申込番号,直近３ケ月買物利用金額,直近３ケ月全体利用金額,年令,性別,都道府県名,顧客状況コ－ド,マイペ設定,DM希望店,カード券種名,カ－ド加入日,初回利用日,あとからリボ申込有無コード,Weｂ明細有無コード,解約,入会チャネル,初回利用日フラグ
642,202003,155051921565137,5,5,35,男性,大阪府,0,1,Ｄ_梅田店,大丸松坂屋VISAゴールド,20191202,20191211,0,1,0,オンライン,1
643,202003,155193007003102,0,0,63,女性,奈良県,0,0,Ｄ_心斎橋店,大丸松坂屋VISAゴールド,20191202,99991231,0,0,0,店頭タブレット,0
644,202003,155193007016310,210,210,48,男性,北海道,0,1,Ｄ_札幌店,大丸松坂屋VISAゴールド,20191202,99991231,0,1,0,店頭タブレット,0
646,202003,155193007028398,0,0,51,女性,滋賀県,0,0,Ｄ_京都店,大丸松坂屋VISAゴールド,20191202,20191223,0,1,0,店頭タブレット,1
647,202003,155193007032804,998,998,70,男性,岩手県,0,1,Ｄ_東京店,大丸松坂屋VISAゴールド,20191202,20191217,0,1,0,店頭タブレット,1

In [285]:
df_dup.shape[0]

33277

In [286]:
df_dup[['カ－ド加入日','初回利用日']] = df_dup[['カ－ド加入日','初回利用日']].applymap(str).applymap(lambda s: "{}/{}/{}".format(s[0:4],s[4:6],s[6:]))

In [287]:
df_dup.head()

,実績月,入会申込番号,直近３ケ月買物利用金額,直近３ケ月全体利用金額,年令,性別,都道府県名,顧客状況コ－ド,マイペ設定,DM希望店,カード券種名,カ－ド加入日,初回利用日,あとからリボ申込有無コード,Weｂ明細有無コード,解約,入会チャネル,初回利用日フラグ
642,202003,155051921565137,5,5,35,男性,大阪府,0,1,Ｄ_梅田店,大丸松坂屋VISAゴールド,2019/12/02,2019/12/11,0,1,0,オンライン,1
643,202003,155193007003102,0,0,63,女性,奈良県,0,0,Ｄ_心斎橋店,大丸松坂屋VISAゴールド,2019/12/02,9999/12/31,0,0,0,店頭タブレット,0
644,202003,155193007016310,210,210,48,男性,北海道,0,1,Ｄ_札幌店,大丸松坂屋VISAゴールド,2019/12/02,9999/12/31,0,1,0,店頭タブレット,0
646,202003,155193007028398,0,0,51,女性,滋賀県,0,0,Ｄ_京都店,大丸松坂屋VISAゴールド,2019/12/02,2019/12/23,0,1,0,店頭タブレット,1
647,202003,155193007032804,998,998,70,男性,岩手県,0,1,Ｄ_東京店,大丸松坂屋VISAゴールド,2019/12/02,2019/12/17,0,1,0,店頭タブレット,1

df_dup = df_dup.drop(columns=['カ－ド加入日'])

In [180]:
df_dup.groupby(['入会チャネル'])['入会申込番号'].count()

入会チャネル
オンライン       2431
店頭タブレット    18206
郵送         12640
Name: 入会申込番号, dtype: int64

In [198]:
import sqlite3
dbname = "sheet.db"
conn = sqlite3.connect(dbname)
df.to_sql("sp5",  conn)
c = conn.cursor()

In [206]:
pd.read_sql_query(
    sql=u"select 入会チャネル,カード券種名, count(*) from sp5 group by 入会チャネル,カード券種名", con=conn).head()

  入会チャネル             カード券種名  count(*)
0  オンライン      さくらパンダVISAカード       508
1  オンライン  さくらパンダVISAカード（学生）         5
2  オンライン       大丸松坂屋VISAカード      1424
3  オンライン   大丸松坂屋VISAカード（学生）        24
4  オンライン      大丸松坂屋VISAゴールド       164

In [7]:
df = pd.read_csv(data_dir /f"N029kakutokuruiseki{d}.csv",sep=',' ,names=column_names,
                 dtype={'リボ支払方法コード':str,
                        '提携カード特殊エリア':str,
                        '提携先顧客番号１':str,
                        '提携先顧客番号２':str,
                        '提携先任意コード':str,
                        '指定エンボス内容':str,
                        'カード会社コード旧カードコード':str,
                        'カード提携方式コード旧カードコード':str,
                        'カード種類コード旧カードコード':str,
                       'カード提携会社（１）旧カードコード':str,
                       'カード提携会社（２）旧カードコード':str})
    df_trim=df[['カード加入日','会員カード発行区分','代表顧客番号個人','カード会員番号個人','顧客番号個人','続柄個人',
                'カード会社コードカードコード','カード提携方式コードカードコード',
                'カード提携会社（１）カードコード','カード提携会社（２）カードコード','カード種類コードカードコード',
                '住所コード','会員種別','重複入会承認コード','切替コード','勧誘コード','審査コード','受付部支店コード',
                '職業コード', '役職コード','性別コード', 
                'カード会社コード旧カードコード',
                 'カード提携方式コード旧カードコード', 'カード提携会社（１）旧カードコード', 'カード提携会社（２）旧カードコード',
                 'カード種類コード旧カードコード',
                '郵便番号上５桁','郵便番号下２桁',
                '満年齢','リボ支払方法コード',
                '仮登録日','結果登録日',
                '提携カード特殊エリア']]

In [8]:
df_trim.head()

,カード加入日,会員カード発行区分,代表顧客番号個人,カード会員番号個人,顧客番号個人,続柄個人,カード会社コードカードコード,カード提携方式コードカードコード,カード提携会社（１）カードコード,カード提携会社（２）カードコード,カード種類コードカードコード,住所コード,会員種別,重複入会承認コード,切替コード,勧誘コード,審査コード,受付部支店コード,職業コード,役職コード,性別コード,カード会社コード旧カードコード,カード提携方式コード旧カードコード,カード提携会社（１）旧カードコード,カード提携会社（２）旧カードコード,カード種類コード旧カードコード,郵便番号上５桁,郵便番号下２桁,満年齢,リボ支払方法コード,仮登録日,結果登録日,提携カード特殊エリア
0,20200213,1,155200135012,04980132188815002C,155200135012,0,155,10,D00,1,31,5926015002,1,0,0,8,0,106,9,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86,12,20200212,20200213,20
1,20200213,1,155200352567,07801550001607639C,155200352567,0,155,92,D00,95,0,5824243006,1,0,0,0,8,1,1,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74,NaN,20200213,20200213,NaN
2,20200213,1,155200353581,04980132188561002C,155200353581,0,155,10,D00,1,31,5834030005,1,0,0,8,0,106,9,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69,52,20200130,20200213,20
3,20200213,1,155200560664,04980671595645007C,155200560664,0,155,10,D02,1,2,5806253003,1,0,0,3,0,101,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60,12,20200213,20200213,NaN
4,20200213,1,155200560664,04980671595645015C,155233432923,3,155,10,D02,1,2,5806253003,1,0,0,3,0,101,0,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87,12,20200213,20200213,NaN

In [191]:
df_trim.to_csv('n29.csv', sep=',', index=False, encoding='utf_8_sig')