In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import csv
import xlrd
import io
from zipfile import ZipFile
from datetime import date, timedelta, time, datetime

In [2]:
today_yyyymmdd = date.today().strftime("%Y%m%d")
print(today_yyyymmdd)

20200614

import datetime 
base = datetime.date(2020,2,1)
for i in range(0,10): 
    d=base + datetime.timedelta(i)
    d=d.strftime("%Y%m%d")
    print(f"N029kakutokuruiseki{d}.csv")

from datetime import datetime, timedelta

def date_range(start_date: datetime, end_date: datetime):
    diff = (end_date - start_date).days + 1
    return (start_date + timedelta(i) for i in range(diff))

In [3]:
#pandasの表示列数を増やす
import pandas as pd
pd.set_option('display.max_columns', 100)

In [4]:
#ディレクトリ
data_dir = Path("C:/Users/yakad\Documents/Yusuke_Akada_Jupyter_Notebook-master/file")

#承認月
approval_month = "6月"

#Input_file
#①承認リスト（当月分）
input_file_1 = "N029（2020年5月度入会）.xlsx"

#②承認リスト（前月分）
input_file_2 = "N029（2020年4月度入会）.xlsx"

#③ デジガレ確認用リスト
input_file_3 = "20200524〆【JFRカード御中】成果データ&問い合わせ.xlsx"

#④ 累積承認リスト
input_file_4 = "アフィリエイト広告_累積承認者リスト.xlsx"

#Output_file
#①オンライン承認リスト
output_file_1 = f"online_{today_yyyymmdd}" 
print("Output①⇒",output_file_1)
#②アフィリエイト月次成果承認確定リスト
output_file_2 = f"確認済み成果データ_{today_yyyymmdd}" 
print("Output②⇒",output_file_2)
#③アフィリエイト広告_承認者リスト_累積
output_file_3 = f"アフィリエイト広告_承認者リスト_{today_yyyymmdd}" 
print("Output③⇒",output_file_3)

Output①⇒ online_20200614
Output②⇒ 確認済み成果データ_20200614
Output③⇒ アフィリエイト広告_承認者リスト_20200614

①承認リスト（当月分）

In [5]:
print(input_file_1)

df_app = pd.read_excel(data_dir/f"{input_file_1}")
df_app.head()

N029（2020年5月度入会）.xlsx

,カード加入日,会員カード発行区分,続柄,カード提携会社1CD,カード提携会社2CD,カード種類CD,カードブランドCD,切替CD,勧誘CD,受付部支店,性別CD,再発行CD,旧カード提携会社1CD,旧カード提携会社2CD,旧カード種類CD,旧カードブランドCD,入会申込番号,満年齢,リボ支払方法CD,勧誘団体CD,提携カード特殊エリア,エンボス内容,カード年会費CD,リボ利用対象CD
0,20200501,1,0,D02,1,2,1,0,3,102,1,0,NaN,NaN,NaN,NaN,155603602331567,48,12.0,2000,NaN,2.000010e+09,2,0
1,20200501,1,0,D00,95,0,0,0,3,153,2,0,NaN,NaN,NaN,NaN,155603602331427,61,NaN,0,NaN,NaN,1,0
2,20200501,1,0,D00,95,0,0,0,3,299,1,0,NaN,NaN,NaN,NaN,155051921869703,54,NaN,0,NaN,NaN,1,0
3,20200501,1,0,D00,1,31,1,0,8,170,2,0,NaN,NaN,NaN,NaN,155193007662402,36,12.0,10000,20.0,1.000071e+10,2,0
4,20200501,1,0,D00,1,31,1,0,8,153,2,0,NaN,NaN,NaN,NaN,155193027692611,74,12.0,53000,20.0,5.300000e+04,2,0

In [7]:
print(df_app.shape)
print(df_app.index)
print(df_app.columns)
print(df_app.dtypes)

(2324, 24)
RangeIndex(start=0, stop=2324, step=1)
Index(['カード加入日', '会員カード発行区分', '続柄', 'カード提携会社1CD', 'カード提携会社2CD', 'カード種類CD',
       'カードブランドCD', '切替CD', '勧誘CD', '受付部支店', '性別CD', '再発行CD', '旧カード提携会社1CD',
       '旧カード提携会社2CD', '旧カード種類CD', '旧カードブランドCD', '入会申込番号', '満年齢', 'リボ支払方法CD',
       '勧誘団体CD', '提携カード特殊エリア', 'エンボス内容', 'カード年会費CD', 'リボ利用対象CD'],
      dtype='object')
カード加入日           int64
会員カード発行区分       object
続柄               int64
カード提携会社1CD      object
カード提携会社2CD       int64
カード種類CD          int64
カードブランドCD        int64
切替CD             int64
勧誘CD             int64
受付部支店            int64
性別CD             int64
再発行CD            int64
旧カード提携会社1CD     object
旧カード提携会社2CD    float64
旧カード種類CD       float64
旧カードブランドCD     float64
入会申込番号           int64
満年齢              int64
リボ支払方法CD       float64
勧誘団体CD           int64
提携カード特殊エリア     float64
エンボス内容         float64
カード年会費CD         int64
リボ利用対象CD         int64
dtype: object

column_names = ['実績月','入会申込番号','直近３ケ月買物利用金額','直近３ケ月全体利用金額','年令','性別',
                '都道府県名','顧客状況コ－ド','マイペ設定','DM希望店','カード券種名','カ－ド加入日','初回利用日',
                'あとからリボ申込有無コード','Weｂ明細有無コード','解約','入会チャネル']

オンライン入会客を特定

In [8]:
df_app =df_app[(df_app["会員カード発行区分"] == "1") 
               & (df_app["続柄"] == 0) 
               & ~(df_app["カード提携会社2CD"] == 95) 
               & (df_app["切替CD"] == 0) 
               & (df_app["受付部支店"] == 299)]

In [9]:
#含まれてないか確認
print(df_app["会員カード発行区分"].unique())
print(df_app["続柄"].unique())
print(df_app["カード提携会社2CD"].unique())
print(df_app["切替CD"].unique())
print(df_app["受付部支店"].unique())
df_app.shape[0]

['1']
[0]
[ 1  8  4 18 14 11]
[0]
[299]

585

In [10]:
#"成果"カラムを追加
df_app['成果'] = "可"
df_app['参照用'] = df_app['入会申込番号'] #"参照用"はデジガレとのマッチング用

In [11]:
df_app=df_app[['入会申込番号','成果','カード加入日','参照用']]
df_app.head()

             入会申込番号 成果    カード加入日              参照用
5   155051921812315  可  20200501  155051921812315
16  155051921869588  可  20200501  155051921869588
20  155051921870073  可  20200501  155051921870073
31  155051921791964  可  20200501  155051921791964
35  155051921869471  可  20200501  155051921869471

In [12]:
#csvアウトプット
df_tmp = df_app.drop(columns=['参照用'])
df_tmp.to_csv(data_dir /f"{output_file_1}.csv", index=False,header=True,encoding='utf-8-sig')

②前月の承認結果作業も読み込む

In [14]:
print(input_file_2)

df_pre = pd.read_excel(data_dir/f"{input_file_2}")
df_pre.head()

N029（2020年4月度入会）.xlsx

,カード加入日,会員カード発行区分,続柄,カード提携会社1CD,カード提携会社2CD,カード種類CD,カードブランドCD,切替CD,勧誘CD,受付部支店,性別CD,再発行CD,旧カード提携会社1CD,旧カード提携会社2CD,旧カード種類CD,旧カードブランドCD,入会申込番号,満年齢,リボ支払方法CD,勧誘団体CD,提携カード特殊エリア,エンボス内容,カード年会費CD,リボ利用対象CD
0,20200401,2,3,D02,1,2,1,0,3,1,2,0,NaN,NaN,NaN,NaN,155501822315479,70,12.0,2000,NaN,2.000010e+09,2,0
1,20200401,1,0,D00,4,31,2,0,3,153,2,0,NaN,NaN,NaN,NaN,155603602322988,49,12.0,53000,NaN,5.300000e+04,2,0
2,20200401,1,0,D00,8,31,1,0,8,107,2,0,NaN,NaN,NaN,NaN,155193007629484,56,12.0,7000,20.0,7.000321e+09,2,0
3,20200401,1,1,D02,1,2,1,0,3,103,2,0,NaN,NaN,NaN,NaN,155603602324240,43,12.0,6000,NaN,3.000010e+09,2,0
4,20200401,1,0,D00,95,0,0,0,0,1,1,0,NaN,NaN,NaN,NaN,155501850316258,61,NaN,0,NaN,NaN,1,0

オンライン入会客を特定

In [15]:
df_pre =df_pre[(df_pre["会員カード発行区分"] == "1") 
               & (df_pre["続柄"] == 0) 
               & ~(df_pre["カード提携会社2CD"] == 95) 
               & (df_pre["切替CD"] == 0) 
               & (df_pre["受付部支店"] == 299)]

In [16]:
#含まれてないか確認
print(df_pre["会員カード発行区分"].unique())
print(df_pre["続柄"].unique())
print(df_pre["カード提携会社2CD"].unique())
print(df_pre["切替CD"].unique())
print(df_pre["受付部支店"].unique())
df_pre.shape[0]

['1']
[0]
[ 4  1  8 14 11]
[0]
[299]

116

In [17]:
#"成果"カラムを追加
df_pre['成果'] = "可"
df_pre['参照用'] = df_pre['入会申込番号'] #"参照用"はデジガレとのマッチング用

In [18]:
df_pre=df_pre[['入会申込番号','成果','カード加入日','参照用']]
df_pre.head()

              入会申込番号 成果    カード加入日              参照用
6    155051921661068  可  20200401  155051921661068
41   155051921723611  可  20200401  155051921723611
47   155051921754855  可  20200401  155051921754855
115  155051921745739  可  20200401  155051921745739
148  155051921708380  可  20200401  155051921708380

In [19]:
#前月と当月の承認リストをドッキング
df_app = pd.concat([df_pre, df_app])
df_app.shape[0]

701

In [20]:
print(df_app['カード加入日'].unique())

[20200401 20200402 20200403 20200406 20200407 20200408 20200409 20200410
 20200413 20200414 20200415 20200416 20200420 20200421 20200422 20200423
 20200424 20200428 20200430 20200501 20200507 20200508 20200511 20200512
 20200513 20200514 20200515 20200518 20200519 20200520 20200521 20200522
 20200525 20200526 20200527 20200528 20200529]

③ デジガレ確認用リスト

In [43]:
print(input_file_3)

df_dg = pd.read_excel(data_dir/f"{input_file_3}")
df_dg.head()

20200524〆【JFRカード御中】成果データ&問い合わせ.xlsx

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,成果,Unnamed: 9
0,57.0,ライフメディア,ポイント,2020-02-11 03:13:09,2020-02-11 03:27:04,155051921723660,BGT,9000,保留,NaN
1,282.0,エルネ,ポイント,2020-02-15 00:22:26,2020-02-15 00:52:03,155051921732000,BGT,9000,保留,NaN
2,21.0,ポイントインカム,ポイント,2020-02-15 19:36:00,2020-02-15 20:01:03,155051921734253,BGT,9000,保留,NaN
3,49.0,ハピタス（連携用）,ポイント,2020-02-15 22:02:48,2020-02-15 22:17:03,155051921734642,BGT,9000,保留,NaN
4,619.0,モッピー（連携用）,ポイント,2020-02-16 13:33:30,2020-02-16 13:46:03,155051921736639,BGT,9000,保留,NaN

In [44]:
#余計なカラム削除
df_dg = df_dg.drop(columns=['Unnamed: 9','成果'])

In [49]:
#ASIDの整数化
for i in range(len(df_dg)):
    if pd.isnull(df_dg['ASID'][i]) == True:
        df_dg.loc[:,'ASID'][i] = 0
df_dg = df_dg.astype({'ASID':int})

In [50]:
print(df_dg.shape)
print(df_dg.index)
print(df_dg.columns)
print(df_dg.dtypes)

(507, 8)
RangeIndex(start=0, stop=507, step=1)
Index(['ASID', 'メディア名', '媒体チャネル', 'クリック', '申込', '参照用', 'ASP名', '単価'], dtype='object')
ASID               int32
メディア名             object
媒体チャネル            object
クリック              object
申込        datetime64[ns]
参照用                int64
ASP名              object
単価                 int64
dtype: object

In [53]:
#"申込年月"のカラム生成
df_dg['申込年'] = df_dg['申込'].dt.year
df_dg['申込月'] = df_dg['申込'].dt.month

df_dg['申込年月'] = df_dg[['申込年', '申込月']].apply(lambda x: '{}年{}月'.format(x[0], x[1]), axis=1)
df_dg = df_dg.drop(columns=['申込年','申込月'])

df_dg.head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,申込年月
0,57,ライフメディア,ポイント,2020-02-11 03:13:09,2020-02-11 03:27:04,155051921723660,BGT,9000,2020年2月
1,282,エルネ,ポイント,2020-02-15 00:22:26,2020-02-15 00:52:03,155051921732000,BGT,9000,2020年2月
2,21,ポイントインカム,ポイント,2020-02-15 19:36:00,2020-02-15 20:01:03,155051921734253,BGT,9000,2020年2月
3,49,ハピタス（連携用）,ポイント,2020-02-15 22:02:48,2020-02-15 22:17:03,155051921734642,BGT,9000,2020年2月
4,619,モッピー（連携用）,ポイント,2020-02-16 13:33:30,2020-02-16 13:46:03,155051921736639,BGT,9000,2020年2月

In [61]:
#承認データ（df_app）をマージする前に、df_app余計なカラムを削除
df_app_tmp = df_app.drop(columns=['入会申込番号'])

#承認データの"成果"をマージ
df_dg2 = pd.merge(df_dg,df_app_tmp, on =['参照用'], how = 'left')
df_dg2[df_dg2['成果'] == '可'].head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,申込年月,成果,カード加入日
7,128,Warau.jp,ポイント,2020-02-19 23:24:57,2020-02-19 23:41:05,155051921743957,BGT,9000,2020年2月,可,20200511.0
8,49,ハピタス（連携用）,ポイント,2020-02-21 08:10:38,2020-02-21 08:29:03,155051921745192,BGT,9000,2020年2月,可,20200520.0
17,49,ハピタス（連携用）,ポイント,2020-03-06 09:08:09,2020-03-06 09:14:04,155051921765646,BGT,5000,2020年3月,可,20200513.0
25,128,Warau.jp,ポイント,2020-03-15 18:46:54,2020-03-15 19:01:05,155051921787731,BGT,5000,2020年3月,可,20200422.0
26,49,ハピタス（連携用）,ポイント,2020-03-17 21:05:11,2020-03-17 21:14:06,155051921791972,BGT,5000,2020年3月,可,20200513.0

In [62]:
df_dg2 = df_dg2.copy()

In [64]:
#マージしたらカード加入日がfloat型になってしまったため、整数型に戻す
for i in range(len(df_dg2)):
    if pd.isnull(df_dg2['カード加入日'][i]) == True:
        df_dg2.loc[:,'カード加入日'][i] = 0
        
df_dg2 = df_dg2.astype({'カード加入日':int})

In [65]:
df_dg2[df_dg2['カード加入日'] == 0].head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,申込年月,成果,カード加入日
0,57,ライフメディア,ポイント,2020-02-11 03:13:09,2020-02-11 03:27:04,155051921723660,BGT,9000,2020年2月,NaN,0
1,282,エルネ,ポイント,2020-02-15 00:22:26,2020-02-15 00:52:03,155051921732000,BGT,9000,2020年2月,NaN,0
2,21,ポイントインカム,ポイント,2020-02-15 19:36:00,2020-02-15 20:01:03,155051921734253,BGT,9000,2020年2月,NaN,0
3,49,ハピタス（連携用）,ポイント,2020-02-15 22:02:48,2020-02-15 22:17:03,155051921734642,BGT,9000,2020年2月,NaN,0
4,619,モッピー（連携用）,ポイント,2020-02-16 13:33:30,2020-02-16 13:46:03,155051921736639,BGT,9000,2020年2月,NaN,0

In [74]:
#"成果"がNanのものは[保留]に置換する
for i in range(len(df_dg2)):
    if pd.isnull(df_dg2['成果'][i]) == True:
        df_dg2.loc[:,'成果'][i] = "保留"

In [75]:
df_dg2.head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,申込年月,成果,カード加入日
0,57,ライフメディア,ポイント,2020-02-11 03:13:09,2020-02-11 03:27:04,155051921723660,BGT,9000,2020年2月,保留,0
1,282,エルネ,ポイント,2020-02-15 00:22:26,2020-02-15 00:52:03,155051921732000,BGT,9000,2020年2月,保留,0
2,21,ポイントインカム,ポイント,2020-02-15 19:36:00,2020-02-15 20:01:03,155051921734253,BGT,9000,2020年2月,保留,0
3,49,ハピタス（連携用）,ポイント,2020-02-15 22:02:48,2020-02-15 22:17:03,155051921734642,BGT,9000,2020年2月,保留,0
4,619,モッピー（連携用）,ポイント,2020-02-16 13:33:30,2020-02-16 13:46:03,155051921736639,BGT,9000,2020年2月,保留,0

集計

In [76]:
#客数
df_dg2[df_dg2['成果'] == '可'].shape[0]

172

In [77]:
pd.crosstab(df_dg2['申込年月'],df_dg2['成果'])

成果        保留    可
申込年月
2020年1月    3    0
2020年2月   17    2
2020年3月   34    5
2020年4月   92   16
2020年5月  189  149

In [349]:
#CSVアウトプット
df_dg2.to_csv(data_dir /f"{output_file_2}.csv", index=False,header=True,encoding='utf-8-sig')

③累積承認リストを作成する

In [78]:
#↑デジガレ報告用のファイルから余計なカラムを削除する
df_dg2_tmp = df_dg2.drop(columns=['申込年月','カード加入日'])
df_dg2_tmp['承認作業月'] = approval_month
df_dg2_tmp.head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,成果,承認作業月
0,57,ライフメディア,ポイント,2020-02-11 03:13:09,2020-02-11 03:27:04,155051921723660,BGT,9000,保留,6月
1,282,エルネ,ポイント,2020-02-15 00:22:26,2020-02-15 00:52:03,155051921732000,BGT,9000,保留,6月
2,21,ポイントインカム,ポイント,2020-02-15 19:36:00,2020-02-15 20:01:03,155051921734253,BGT,9000,保留,6月
3,49,ハピタス（連携用）,ポイント,2020-02-15 22:02:48,2020-02-15 22:17:03,155051921734642,BGT,9000,保留,6月
4,619,モッピー（連携用）,ポイント,2020-02-16 13:33:30,2020-02-16 13:46:03,155051921736639,BGT,9000,保留,6月

In [79]:
print(input_file_4)

df_cum = pd.read_excel(data_dir/f"{input_file_4}", dtype={'参照用': str})
df_cum.head()

アフィリエイト広告_累積承認者リスト.xlsx

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,可否,承認作業月
0,37.0,げん玉,ポイント,2020-01-08 19:11:08,2020-01-08 19:32:05,155051921643397,BGT,9000,可,1月
1,52.0,ECナビSP,ポイント,2020-01-08 20:21:44,2020-01-08 20:31:05,155051921643553,BGT,9000,可,1月
2,52.0,ECナビSP,ポイント,2020-01-08 20:31:50,2020-01-08 20:39:06,155051921643587,BGT,9000,可,1月
3,52.0,ECナビSP,ポイント,2020-01-08 20:34:03,2020-01-08 20:45:05,155051921643678,BGT,9000,可,1月
4,82.0,ちょびリッチ。ドットコム,ポイント,2020-01-08 20:32:12,2020-01-08 20:55:06,155051921643744,BGT,9000,可,1月

In [81]:
for i in range(len(df_cum)):
    if pd.isnull(df_cum['ASID'][i]) == True:
        df_cum.loc[:,'ASID'][i] = 0

df_cum = df_cum.astype({'ASID':int})

In [82]:
print(df_cum['ASID'].unique())

[     37      52      82      54     619    1375      21    5953     165
    5954     204      46      10       8      45      49      57     101
     164     183 1523381     166 1776418     128     280     284    8163
      18      44     282 1595028 1580002 1496955 1594905    5618   32190
    5955       0 1454503 1591985    6711]

In [83]:
df_cum.head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,可否,承認作業月
0,37,げん玉,ポイント,2020-01-08 19:11:08,2020-01-08 19:32:05,155051921643397,BGT,9000,可,1月
1,52,ECナビSP,ポイント,2020-01-08 20:21:44,2020-01-08 20:31:05,155051921643553,BGT,9000,可,1月
2,52,ECナビSP,ポイント,2020-01-08 20:31:50,2020-01-08 20:39:06,155051921643587,BGT,9000,可,1月
3,52,ECナビSP,ポイント,2020-01-08 20:34:03,2020-01-08 20:45:05,155051921643678,BGT,9000,可,1月
4,82,ちょびリッチ。ドットコム,ポイント,2020-01-08 20:32:12,2020-01-08 20:55:06,155051921643744,BGT,9000,可,1月

In [85]:
df_dg2_tmp = df_dg2_tmp.rename(columns={'成果':'可否'})
df_dg2_tmp.head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,可否,承認作業月
0,57,ライフメディア,ポイント,2020-02-11 03:13:09,2020-02-11 03:27:04,155051921723660,BGT,9000,保留,6月
1,282,エルネ,ポイント,2020-02-15 00:22:26,2020-02-15 00:52:03,155051921732000,BGT,9000,保留,6月
2,21,ポイントインカム,ポイント,2020-02-15 19:36:00,2020-02-15 20:01:03,155051921734253,BGT,9000,保留,6月
3,49,ハピタス（連携用）,ポイント,2020-02-15 22:02:48,2020-02-15 22:17:03,155051921734642,BGT,9000,保留,6月
4,619,モッピー（連携用）,ポイント,2020-02-16 13:33:30,2020-02-16 13:46:03,155051921736639,BGT,9000,保留,6月

In [86]:
df_concat = pd.concat([df_cum, df_dg2_tmp])

In [87]:
df_concat = df_concat[df_concat['可否'] == "可"]

In [88]:
df_concat.groupby(['承認作業月'])['参照用'].count()

承認作業月
1月    363
2月    788
3月    284
4月     79
5月    107
6月    172
Name: 参照用, dtype: int64

In [393]:
#CSVアウトプット
df_concat.to_csv(data_dir /f"{output_file_3}.csv", index=False,header=True,encoding='utf-8-sig')