In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import csv
import xlrd
import io
from zipfile import ZipFile
from datetime import date, timedelta, time, datetime

In [2]:
today_yyyymmdd = date.today().strftime("%Y%m%d")
print(today_yyyymmdd)

20200826

import datetime 
base = datetime.date(2020,2,1)
for i in range(0,10): 
    d=base + datetime.timedelta(i)
    d=d.strftime("%Y%m%d")
    print(f"N029kakutokuruiseki{d}.csv")

from datetime import datetime, timedelta

def date_range(start_date: datetime, end_date: datetime):
    diff = (end_date - start_date).days + 1
    return (start_date + timedelta(i) for i in range(diff))

In [3]:
#pandasの表示列数を増やす
import pandas as pd
pd.set_option('display.max_columns', 100)

ディレクトリ

In [4]:
data_dir = Path(r"C:\Users\crie072\Documents\21_Online")

In [5]:
#承認月
approval_month = "5月"
approval_yymmdd = 20200531

#Input_file
#①承認リスト（当月分）
input_file_1 = "【C115】2020年5月・6月入会_6月利用実績.xlsx"

#カラム名変更
this_month = "2020年6月カード売上額合計"
pre_month = "2020年5月カード売上額合計"

#②承認リスト（前月分）
#input_file_2 = "N029（2020年5月度入会）.xlsx"

#③ デジガレ確認用リスト
input_file_3 = "20200821〆【JFRカード御中】成果データ&問い合わせ.xlsx"


#Output_file
#①オンライン承認リスト
output_file_1 = f"online_利用条件_{today_yyyymmdd}" 
print("Output①⇒",output_file_1)

#②アフィリエイト月次成果承認確定リスト
output_file_2 = f"確認済み成果データ_利用条件_{today_yyyymmdd}" 
print("Output②⇒",output_file_2)

Output①⇒ online_利用条件_20200826
Output②⇒ 確認済み成果データ_利用条件_20200826

In [ ]:
#やることメモ
#2カ月分の入会実績2シート分について、各シートごとに利用額合計を算出する
#2シート分を縦に合算し、入会実績2カ月分の利用額合計を算出し、成果クリアした会員を算出する

①承認リスト（利用実績1カ月分)

In [6]:
print(input_file_1)

【C115】2020年5月・6月入会_6月利用実績.xlsx

In [7]:
df_app = pd.read_excel(data_dir /r"input"/f"{input_file_1}",sheet_name = 1)

#シート名取得
bk = pd.ExcelFile(data_dir/r"input"/f"{input_file_1}")
print(bk.sheet_names[1])

2020年6月入会

In [8]:
df_app

,カード加入日,会員カード発行区分,続柄,カード提携会社1CD,カード提携会社2CD,カード種類CD,カードブランドCD,切替CD,勧誘CD,受付部支店,性別CD,再発行CD,旧カード提携会社1CD,旧カード提携会社2CD,旧カード種類CD,旧カードブランドCD,入会申込番号,満年齢,リボ支払方法CD,勧誘団体CD,提携カード特殊エリア,エンボス内容,カード年会費CD,リボ利用対象CD,2020年6月カード売上額合計
0,20200601,4,0,D00,1,31,1,1,3,103,2,0,D00,1.0,2.0,1.0,155603602534418,59,47.0,3000,NaN,3.000000e+03,0,0,10612
1,20200601,1,0,D02,1,2,1,0,3,102,1,0,NaN,NaN,NaN,NaN,155603602336889,54,12.0,2000,NaN,2.000010e+09,2,0,248
2,20200601,1,0,D00,8,31,1,0,8,153,2,0,NaN,NaN,NaN,NaN,155203017717409,59,12.0,53000,20.0,5.300000e+04,2,0,0
3,20200601,2,3,D00,1,31,1,0,3,1,2,0,NaN,NaN,NaN,NaN,155501822317608,84,47.0,3000,NaN,3.000000e+03,0,0,0
4,20200601,1,0,D00,95,0,0,0,3,107,1,0,NaN,NaN,NaN,NaN,155603602336723,41,NaN,0,NaN,NaN,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5274,20200630,1,0,D02,4,2,2,0,3,104,2,0,NaN,NaN,NaN,NaN,155603602466991,36,12.0,4000,NaN,4.000010e+09,2,0,0
5275,20200630,1,2,D02,4,2,2,0,3,101,2,0,NaN,NaN,NaN,NaN,155603602466926,23,12.0,1000,NaN,1.000010e+09,2,0,0
5276,20200630,1,0,D02,4,2,2,0,3,101,2,0,NaN,NaN,NaN,NaN,155603602466926,54,12.0,1000,NaN,1.000010e+09,2,0,0
5277,20200630,1,1,D02,4,2,2,0,3,102,2,0,NaN,NaN,NaN,NaN,155603602466843,34,12.0,2000,NaN,2.000010e+09,2,0,0
5278,20200630,1,0,D02,4,2,2,0,3,102,1,0,NaN,NaN,NaN,NaN,155603602466843,35,12.0,2000,NaN,2.000010e+09,2,0,0

In [9]:
df_app = df_app.rename(columns={f'{this_month}':'カード売上額合計'})

In [10]:
print(df_app.shape)
print(df_app.index)
print(df_app.columns)
print(df_app.dtypes)

(5279, 25)
RangeIndex(start=0, stop=5279, step=1)
Index(['カード加入日', '会員カード発行区分', '続柄', 'カード提携会社1CD', 'カード提携会社2CD', 'カード種類CD',
       'カードブランドCD', '切替CD', '勧誘CD', '受付部支店', '性別CD', '再発行CD', '旧カード提携会社1CD',
       '旧カード提携会社2CD', '旧カード種類CD', '旧カードブランドCD', '入会申込番号', '満年齢', 'リボ支払方法CD',
       '勧誘団体CD', '提携カード特殊エリア', 'エンボス内容', 'カード年会費CD', 'リボ利用対象CD', 'カード売上額合計'],
      dtype='object')
カード加入日           int64
会員カード発行区分       object
続柄               int64
カード提携会社1CD      object
カード提携会社2CD       int64
カード種類CD          int64
カードブランドCD        int64
切替CD             int64
勧誘CD             int64
受付部支店            int64
性別CD             int64
再発行CD            int64
旧カード提携会社1CD     object
旧カード提携会社2CD    float64
旧カード種類CD       float64
旧カードブランドCD     float64
入会申込番号           int64
満年齢              int64
リボ支払方法CD       float64
勧誘団体CD           int64
提携カード特殊エリア     float64
エンボス内容         float64
カード年会費CD         int64
リボ利用対象CD         int64
カード売上額合計         int64
dtype: object

オンライン入会客を特定

特定加入月&クレカ利用金額5000円以上に限定

In [11]:
df_app =df_app[(df_app["会員カード発行区分"] == "1") 
               & (df_app["続柄"] == 0) 
               & ~(df_app["カード提携会社2CD"] == 95) 
               & (df_app["切替CD"] == 0)
               #& (df_app["カード加入日"] <= approval_yymmdd)
               & (df_app["カード売上額合計"] >= 5000)
               & (df_app["受付部支店"] == 299)]

In [12]:
#含まれてないか確認
print(df_app["会員カード発行区分"].unique())
print(df_app["続柄"].unique())
print(df_app["カード提携会社2CD"].unique())
print(df_app["切替CD"].unique())
print(df_app["受付部支店"].unique())
df_app.shape[0]

['1']
[0]
[ 4  1  8 11]
[0]
[299]

122

In [13]:
#"成果"カラムを追加
df_app['成果'] = "可"
df_app['参照用'] = df_app['入会申込番号'] #"参照用"はデジガレとのマッチング用

df_app=df_app[['入会申込番号','成果','カード加入日','参照用','カード売上額合計']]
df_app

               入会申込番号 成果    カード加入日              参照用  カード売上額合計
15    155051921883902  可  20200601  155051921883902      5389
16    155051921872202  可  20200601  155051921872202      8547
54    155051921903262  可  20200601  155051921903262    600000
104   155051921870925  可  20200601  155051921870925      5463
105   155051921903114  可  20200601  155051921903114     14264
...               ... ..       ...              ...       ...
2905  155051921873143  可  20200617  155051921873143      9000
3015  155051921899106  可  20200618  155051921899106     22000
3018  155051921907529  可  20200618  155051921907529     27612
3053  155051921878688  可  20200618  155051921878688      5213
3656  155051921913386  可  20200623  155051921913386      7204

[122 rows x 5 columns]

In [14]:
#df_app_m1 = df_app.drop(columns=['参照用'])
df_app_m1 = df_app
df_app_m1

               入会申込番号 成果    カード加入日              参照用  カード売上額合計
15    155051921883902  可  20200601  155051921883902      5389
16    155051921872202  可  20200601  155051921872202      8547
54    155051921903262  可  20200601  155051921903262    600000
104   155051921870925  可  20200601  155051921870925      5463
105   155051921903114  可  20200601  155051921903114     14264
...               ... ..       ...              ...       ...
2905  155051921873143  可  20200617  155051921873143      9000
3015  155051921899106  可  20200618  155051921899106     22000
3018  155051921907529  可  20200618  155051921907529     27612
3053  155051921878688  可  20200618  155051921878688      5213
3656  155051921913386  可  20200623  155051921913386      7204

[122 rows x 5 columns]

CSVアウトプット

In [ ]:
df_app_m1.to_csv(data_dir /r"output"/f"{output_file_1}_{bk.sheet_names[1]}.csv", index=False,header=True,encoding='shift-jis')

①-2承認リスト（利用実績2カ月分)

In [18]:
print(input_file_1)

【C115】2020年5月・6月入会_6月利用実績.xlsx

In [19]:
df_app = pd.read_excel(data_dir /r"input"/f"{input_file_1}",sheet_name = 0)

#シート名取得
bk = pd.ExcelFile(data_dir/r"input"/f"{input_file_1}")
print(bk.sheet_names[0])

2020年5月入会

In [20]:
df_app

,カード加入日,会員カード発行区分,続柄,カード提携会社1CD,カード提携会社2CD,カード種類CD,カードブランドCD,切替CD,勧誘CD,受付部支店,性別CD,再発行CD,旧カード提携会社1CD,旧カード提携会社2CD,旧カード種類CD,旧カードブランドCD,入会申込番号,満年齢,リボ支払方法CD,勧誘団体CD,提携カード特殊エリア,エンボス内容,カード年会費CD,リボ利用対象CD,2020年5月カード売上額合計,2020年6月カード売上額合計
0,20200501,1,0,D02,1,2,1,0,3,102,1,0,NaN,NaN,NaN,NaN,155603602331559,30,12.0,2000,NaN,2.000010e+09,2,0,0,0
1,20200501,2,3,D02,1,2,1,0,3,1,1,0,NaN,NaN,NaN,NaN,155051921869919,63,12.0,10000,NaN,1.000001e+10,2,0,0,0
2,20200501,5,0,D00,2,31,1,1,3,104,2,0,D00,1.0,31.0,1.0,155603602532610,56,47.0,4000,NaN,4.000000e+03,1,0,0,5940
3,20200501,4,0,D00,1,31,1,1,3,106,2,0,D00,1.0,2.0,1.0,155603602532644,31,12.0,3000,NaN,6.000000e+03,0,0,0,0
4,20200501,1,0,D00,4,31,2,0,3,299,2,0,NaN,NaN,NaN,NaN,155051921869539,37,52.0,11000,40.0,1.100000e+04,2,1,6000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319,20200529,D,0,D00,50,31,0,0,8,170,2,0,NaN,NaN,NaN,NaN,155203037715961,57,12.0,10000,20.0,1.000000e+04,1,0,43340,0
2320,20200529,D,0,D00,50,31,0,0,8,170,1,0,NaN,NaN,NaN,NaN,155203037715805,24,12.0,10000,20.0,1.000040e+10,1,0,415800,0
2321,20200529,D,0,D00,50,31,0,0,8,170,2,0,NaN,NaN,NaN,NaN,155203037715763,44,12.0,10000,20.0,1.000000e+04,1,0,147400,0
2322,20200529,D,0,D00,50,31,0,0,8,170,1,0,NaN,NaN,NaN,NaN,155203047715753,73,12.0,10000,20.0,1.000000e+04,1,0,0,0
2323,20200529,D,0,D00,50,31,0,0,8,107,2,0,NaN,NaN,NaN,NaN,155203047716173,45,12.0,7000,20.0,7.000000e+03,1,0,126500,0

In [21]:
df_app['カード売上額合計'] = df_app[f'{this_month}'] + df_app[f'{pre_month}'] 
#df_app = df_app.rename(columns={f'{this_month}':'カード売上額合計'})
df_app

,カード加入日,会員カード発行区分,続柄,カード提携会社1CD,カード提携会社2CD,カード種類CD,カードブランドCD,切替CD,勧誘CD,受付部支店,性別CD,再発行CD,旧カード提携会社1CD,旧カード提携会社2CD,旧カード種類CD,旧カードブランドCD,入会申込番号,満年齢,リボ支払方法CD,勧誘団体CD,提携カード特殊エリア,エンボス内容,カード年会費CD,リボ利用対象CD,2020年5月カード売上額合計,2020年6月カード売上額合計,カード売上額合計
0,20200501,1,0,D02,1,2,1,0,3,102,1,0,NaN,NaN,NaN,NaN,155603602331559,30,12.0,2000,NaN,2.000010e+09,2,0,0,0,0
1,20200501,2,3,D02,1,2,1,0,3,1,1,0,NaN,NaN,NaN,NaN,155051921869919,63,12.0,10000,NaN,1.000001e+10,2,0,0,0,0
2,20200501,5,0,D00,2,31,1,1,3,104,2,0,D00,1.0,31.0,1.0,155603602532610,56,47.0,4000,NaN,4.000000e+03,1,0,0,5940,5940
3,20200501,4,0,D00,1,31,1,1,3,106,2,0,D00,1.0,2.0,1.0,155603602532644,31,12.0,3000,NaN,6.000000e+03,0,0,0,0,0
4,20200501,1,0,D00,4,31,2,0,3,299,2,0,NaN,NaN,NaN,NaN,155051921869539,37,52.0,11000,40.0,1.100000e+04,2,1,6000,0,6000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2319,20200529,D,0,D00,50,31,0,0,8,170,2,0,NaN,NaN,NaN,NaN,155203037715961,57,12.0,10000,20.0,1.000000e+04,1,0,43340,0,43340
2320,20200529,D,0,D00,50,31,0,0,8,170,1,0,NaN,NaN,NaN,NaN,155203037715805,24,12.0,10000,20.0,1.000040e+10,1,0,415800,0,415800
2321,20200529,D,0,D00,50,31,0,0,8,170,2,0,NaN,NaN,NaN,NaN,155203037715763,44,12.0,10000,20.0,1.000000e+04,1,0,147400,0,147400
2322,20200529,D,0,D00,50,31,0,0,8,170,1,0,NaN,NaN,NaN,NaN,155203047715753,73,12.0,10000,20.0,1.000000e+04,1,0,0,0,0
2323,20200529,D,0,D00,50,31,0,0,8,107,2,0,NaN,NaN,NaN,NaN,155203047716173,45,12.0,7000,20.0,7.000000e+03,1,0,126500,0,126500

In [22]:
print(df_app.shape)
print(df_app.index)
print(df_app.columns)
print(df_app.dtypes)

(2324, 27)
RangeIndex(start=0, stop=2324, step=1)
Index(['カード加入日', '会員カード発行区分', '続柄', 'カード提携会社1CD', 'カード提携会社2CD', 'カード種類CD',
       'カードブランドCD', '切替CD', '勧誘CD', '受付部支店', '性別CD', '再発行CD', '旧カード提携会社1CD',
       '旧カード提携会社2CD', '旧カード種類CD', '旧カードブランドCD', '入会申込番号', '満年齢', 'リボ支払方法CD',
       '勧誘団体CD', '提携カード特殊エリア', 'エンボス内容', 'カード年会費CD', 'リボ利用対象CD',
       '2020年5月カード売上額合計', '2020年6月カード売上額合計', 'カード売上額合計'],
      dtype='object')
カード加入日               int64
会員カード発行区分           object
続柄                   int64
カード提携会社1CD          object
カード提携会社2CD           int64
カード種類CD              int64
カードブランドCD            int64
切替CD                 int64
勧誘CD                 int64
受付部支店                int64
性別CD                 int64
再発行CD                int64
旧カード提携会社1CD         object
旧カード提携会社2CD        float64
旧カード種類CD           float64
旧カードブランドCD         float64
入会申込番号               int64
満年齢                  int64
リボ支払方法CD           float64
勧誘団体CD               int64
提携カード特殊エリア         float64
エンボス内容             float64
カード年会費CD             int64
リボ利用対象CD             int64
2020年5月カード売上額合計      int64
2020年6月カード売上額合計      int64
カード売上額合計             int64
dtype: object

オンライン入会客を特定

特定加入月&クレカ利用金額5000円以上に限定

In [23]:
df_app =df_app[(df_app["会員カード発行区分"] == "1") 
               & (df_app["続柄"] == 0) 
               & ~(df_app["カード提携会社2CD"] == 95) 
               & (df_app["切替CD"] == 0)
               #& (df_app["カード加入日"] <= approval_yymmdd)
               & (df_app["カード売上額合計"] >= 5000)
               & (df_app["受付部支店"] == 299)]

In [24]:
#含まれてないか確認
print(df_app["会員カード発行区分"].unique())
print(df_app["続柄"].unique())
print(df_app["カード提携会社2CD"].unique())
print(df_app["切替CD"].unique())
print(df_app["受付部支店"].unique())
df_app.shape[0]

['1']
[0]
[ 4  8  1 18 11]
[0]
[299]

339

In [25]:
#"成果"カラムを追加
df_app['成果'] = "可"
df_app['参照用'] = df_app['入会申込番号'] #"参照用"はデジガレとのマッチング用

df_app=df_app[['入会申込番号','成果','カード加入日','参照用','カード売上額合計']]

C:\Users\crie072\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\crie072\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
#df_app_m2 = df_app.drop(columns=['参照用'])
df_app_m2 = df_app
df_app_m2

               入会申込番号 成果    カード加入日              参照用  カード売上額合計
4     155051921869539  可  20200501  155051921869539      6000
11    155051921869836  可  20200501  155051921869836      5790
17    155051921869471  可  20200501  155051921869471     30000
40    155051921869893  可  20200501  155051921869893     33167
41    155051921869604  可  20200501  155051921869604      5333
...               ... ..       ...              ...       ...
2304  155051921900573  可  20200529  155051921900573     22581
2307  155051921880767  可  20200529  155051921880767    102620
2308  155051921879702  可  20200529  155051921879702      6007
2309  155051921878712  可  20200529  155051921878712      5010
2310  155051921873218  可  20200529  155051921873218      7247

[339 rows x 5 columns]

CSVアウトプット

In [137]:
df_app_m2.to_csv(data_dir /r"output"/f"{output_file_1}_{bk.sheet_names[0]}.csv", index=False,header=True,encoding='shift-jis')

2カ月入会月分合算

In [27]:
df_app_concat = pd.concat([df_app_m1,df_app_m2])
df_app_concat

               入会申込番号 成果    カード加入日              参照用  カード売上額合計
15    155051921883902  可  20200601  155051921883902      5389
16    155051921872202  可  20200601  155051921872202      8547
54    155051921903262  可  20200601  155051921903262    600000
104   155051921870925  可  20200601  155051921870925      5463
105   155051921903114  可  20200601  155051921903114     14264
...               ... ..       ...              ...       ...
2304  155051921900573  可  20200529  155051921900573     22581
2307  155051921880767  可  20200529  155051921880767    102620
2308  155051921879702  可  20200529  155051921879702      6007
2309  155051921878712  可  20200529  155051921878712      5010
2310  155051921873218  可  20200529  155051921873218      7247

[461 rows x 5 columns]

② デジガレ確認用リスト ※利用条件シート

In [28]:
print(input_file_3)

df_dg = pd.read_excel(data_dir/r"input"/f"{input_file_3}", sheet_name = 2)
#シート名取得
bk = pd.ExcelFile(data_dir/r"input"/f"{input_file_3}")

df_dg.head()

20200821〆【JFRカード御中】成果データ&問い合わせ.xlsx

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,成果,カード発行日
0,37.0,げん玉,ポイント,2020-05-01 00:06:29,2020-05-01 00:22:04,155051921869356,BGT,9000,保留,保留
1,37.0,げん玉,ポイント,2020-05-01 01:21:40,2020-05-01 01:28:04,155051921869380,BGT,9000,保留,保留
2,37.0,げん玉,ポイント,2020-05-01 06:27:16,2020-05-01 06:34:04,155051921869422,BGT,9000,保留,保留
3,37.0,げん玉,ポイント,2020-05-01 07:46:58,2020-05-01 08:02:04,155051921869489,BGT,9000,保留,保留
4,5954.0,GetMoney!(JIPC参加企業)（連携用）,ポイント,2020-05-01 11:33:44,2020-05-01 11:46:06,155051921869679,BGT,9000,保留,保留

In [29]:
print(bk.sheet_names[2])

成果データ（5月～利用条件追加媒体）

In [30]:
df_dg.shape[0]

1000

In [31]:
#余計なカラム削除
#df_dg = df_dg.drop(columns=['Unnamed: 9','成果'])
df_dg = df_dg.drop(columns=['成果','カード発行日'])
print(df_dg.dtypes)

ASID             float64
メディア名             object
媒体チャネル            object
クリック              object
申込        datetime64[ns]
参照用                int64
ASP名              object
単価                 int64
dtype: object

In [32]:
#ASIDの整数化
for i in range(len(df_dg)):
    if pd.isnull(df_dg['ASID'][i]) == True:
        df_dg.loc[:,'ASID'][i] = 0
df_dg = df_dg.astype({'ASID':int})

print(df_dg.shape)
print(df_dg.index)
print(df_dg.columns)
print(df_dg.dtypes)

(1000, 8)
RangeIndex(start=0, stop=1000, step=1)
Index(['ASID', 'メディア名', '媒体チャネル', 'クリック', '申込', '参照用', 'ASP名', '単価'], dtype='object')
ASID               int32
メディア名             object
媒体チャネル            object
クリック              object
申込        datetime64[ns]
参照用                int64
ASP名              object
単価                 int64
dtype: object

C:\Users\crie072\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [33]:
#"申込年月"のカラム生成
df_dg['申込年'] = df_dg['申込'].dt.year
df_dg['申込月'] = df_dg['申込'].dt.month

df_dg['申込年月'] = df_dg[['申込年', '申込月']].apply(lambda x: '{}年{}月'.format(x[0], x[1]), axis=1)
df_dg = df_dg.drop(columns=['申込年','申込月'])

df_dg.head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,申込年月
0,37,げん玉,ポイント,2020-05-01 00:06:29,2020-05-01 00:22:04,155051921869356,BGT,9000,2020年5月
1,37,げん玉,ポイント,2020-05-01 01:21:40,2020-05-01 01:28:04,155051921869380,BGT,9000,2020年5月
2,37,げん玉,ポイント,2020-05-01 06:27:16,2020-05-01 06:34:04,155051921869422,BGT,9000,2020年5月
3,37,げん玉,ポイント,2020-05-01 07:46:58,2020-05-01 08:02:04,155051921869489,BGT,9000,2020年5月
4,5954,GetMoney!(JIPC参加企業)（連携用）,ポイント,2020-05-01 11:33:44,2020-05-01 11:46:06,155051921869679,BGT,9000,2020年5月

In [34]:
df_app_concat

               入会申込番号 成果    カード加入日              参照用  カード売上額合計
15    155051921883902  可  20200601  155051921883902      5389
16    155051921872202  可  20200601  155051921872202      8547
54    155051921903262  可  20200601  155051921903262    600000
104   155051921870925  可  20200601  155051921870925      5463
105   155051921903114  可  20200601  155051921903114     14264
...               ... ..       ...              ...       ...
2304  155051921900573  可  20200529  155051921900573     22581
2307  155051921880767  可  20200529  155051921880767    102620
2308  155051921879702  可  20200529  155051921879702      6007
2309  155051921878712  可  20200529  155051921878712      5010
2310  155051921873218  可  20200529  155051921873218      7247

[461 rows x 5 columns]

In [35]:
print(df_app_concat.dtypes)

入会申込番号       int64
成果          object
カード加入日       int64
参照用          int64
カード売上額合計     int64
dtype: object

承認データ（利用条件）とデジガレリストをマージ

In [36]:
#承認データ（df_app）をマージする前に、df_app余計なカラムを削除
df_app_tmp = df_app_concat.drop(columns=['入会申込番号'])

#承認データの"成果"をマージ
df_dg2 = pd.merge(df_dg,df_app_tmp, on =['参照用'], how = 'left')
df_dg2[df_dg2['成果'] == '可'].head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,申込年月,成果,カード加入日,カード売上額合計
989,0,ライフメディア,NaN,2020-05-02 00:00:00,2020-05-02,155051921871154,BGT,9000,2020年5月,可,20200612.0,5039.0
990,0,げん玉,NaN,-,2020-05-11,155051921883829,BGT,9000,2020年5月,可,20200527.0,17324.0
991,0,ポイントインカム,NaN,2020-05-11 08:59:46,2020-05-11,155051921883753,BGT,9000,2020年5月,可,20200612.0,30808.0
992,0,ライフメディア,NaN,2020-05-01 00:00:00,2020-05-01,155051921869711,BGT,9000,2020年5月,可,20200528.0,8116.0
997,0,ライフメディア,ポイント,2020-05-02 00:00:00,2020-05-02,155051921871154,BGT,9000,2020年5月,可,20200612.0,5039.0

In [37]:
df_dg2 = df_dg2.copy()

In [38]:
#マージしたらカード加入日がfloat型になってしまったため、整数型に戻す
for i in range(len(df_dg2)):
    if pd.isnull(df_dg2['カード加入日'][i]) == True:
        df_dg2.loc[:,'カード加入日'][i] = 0
        
df_dg2 = df_dg2.astype({'カード加入日':int})

C:\Users\crie072\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [39]:
df_dg2[df_dg2['カード加入日'] == 0].head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,申込年月,成果,カード加入日,カード売上額合計
0,37,げん玉,ポイント,2020-05-01 00:06:29,2020-05-01 00:22:04,155051921869356,BGT,9000,2020年5月,NaN,0,NaN
1,37,げん玉,ポイント,2020-05-01 01:21:40,2020-05-01 01:28:04,155051921869380,BGT,9000,2020年5月,NaN,0,NaN
2,37,げん玉,ポイント,2020-05-01 06:27:16,2020-05-01 06:34:04,155051921869422,BGT,9000,2020年5月,NaN,0,NaN
3,37,げん玉,ポイント,2020-05-01 07:46:58,2020-05-01 08:02:04,155051921869489,BGT,9000,2020年5月,NaN,0,NaN
4,5954,GetMoney!(JIPC参加企業)（連携用）,ポイント,2020-05-01 11:33:44,2020-05-01 11:46:06,155051921869679,BGT,9000,2020年5月,NaN,0,NaN

In [40]:
#"成果"がNanのものは[保留]に置換する
for i in range(len(df_dg2)):
    if pd.isnull(df_dg2['成果'][i]) == True:
        df_dg2.loc[:,'成果'][i] = "保留"

C:\Users\crie072\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [41]:
#カード加入日が0のものは[保留]に置換する
for i in range(len(df_dg2)):
    if df_dg2['カード加入日'][i] == 0:
        df_dg2.loc[:,'カード加入日'][i] = "保留"

C:\Users\crie072\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\crie072\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [42]:
df_dg2

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,申込年月,成果,カード加入日,カード売上額合計
0,37,げん玉,ポイント,2020-05-01 00:06:29,2020-05-01 00:22:04,155051921869356,BGT,9000,2020年5月,保留,保留,NaN
1,37,げん玉,ポイント,2020-05-01 01:21:40,2020-05-01 01:28:04,155051921869380,BGT,9000,2020年5月,保留,保留,NaN
2,37,げん玉,ポイント,2020-05-01 06:27:16,2020-05-01 06:34:04,155051921869422,BGT,9000,2020年5月,保留,保留,NaN
3,37,げん玉,ポイント,2020-05-01 07:46:58,2020-05-01 08:02:04,155051921869489,BGT,9000,2020年5月,保留,保留,NaN
4,5954,GetMoney!(JIPC参加企業)（連携用）,ポイント,2020-05-01 11:33:44,2020-05-01 11:46:06,155051921869679,BGT,9000,2020年5月,保留,保留,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,ポイントインカム,ポイント,2020-07-24 20:09:00,2020-07-24 00:00:00,155051921973299,BGT,9000,2020年7月,保留,保留,NaN
996,0,ポイントインカム,ポイント,2020-07-03 13:16:00,2020-07-03 00:00:00,155051921948085,BGT,9000,2020年7月,保留,保留,NaN
997,0,ライフメディア,ポイント,2020-05-02 00:00:00,2020-05-02 00:00:00,155051921871154,BGT,9000,2020年5月,可,20200612,5039.0
998,0,げん玉,ポイント,-,2020-05-11 00:00:00,155051921883829,BGT,9000,2020年5月,可,20200527,17324.0
999,0,ポイントインカム,ポイント,2020-05-11 08:59:46,2020-05-11 00:00:00,155051921883753,BGT,9000,2020年5月,可,20200612,30808.0

集計

In [43]:
#客数
df_dg2[df_dg2['成果'] == '可'].shape[0]

7

In [44]:
pd.crosstab(df_dg2['申込年月'],df_dg2['成果'])

成果        保留  可
申込年月
2020年5月   90  7
2020年6月  183  0
2020年7月  527  0
2020年8月  193  0

In [45]:
#CSVアウトプット
df_dg2.to_csv(data_dir /r"output"/f"{output_file_2}_{bk.sheet_names[2]}.csv", index=False,header=True,encoding='shift-jis')

③ デジガレ確認用リスト ※利用条件シート　先月の成果報告が正しくなかったため再度確認

In [219]:
print(input_file_3)

df_dg = pd.read_excel(data_dir/r"input"/f"{input_file_3}", sheet_name = 3)
df_dg.head()

20200731〆【JFRカード御中】成果データ.xlsx

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,成果,カード発行日,カード売上額合計
0,37,げん玉,ポイント,2020-05-01 23:52:11,2020-05-02 00:22:05,155051921870800,BGT,9000,保留,20200527,NaN
1,21,ポイントインカム,ポイント,2020-05-02 01:32:57,2020-05-02 01:46:04,155051921870867,BGT,9000,保留,20200525,NaN
2,21,ポイントインカム,ポイント,2020-05-02 04:37:08,2020-05-02 04:46:04,155051921870883,BGT,9000,保留,20200525,NaN
3,21,ポイントインカム,ポイント,2020-05-02 06:44:05,2020-05-02 06:56:05,155051921870925,BGT,9000,保留,20200601,NaN
4,57,ライフメディア,ポイント,2020-05-02 10:09:03,2020-05-02 10:28:05,155051921871097,BGT,9000,保留,20200525,NaN

In [220]:
print(bk.sheet_names[3])

成果データ（5月～利用条件追加媒体）_承認返却済み

In [221]:
df_dg.shape[0]

233

In [222]:
#余計なカラム削除
#df_dg = df_dg.drop(columns=['Unnamed: 9','成果'])
df_dg = df_dg.drop(columns=['成果','カード発行日','カード売上額合計'])
print(df_dg.dtypes)

ASID               int64
メディア名             object
媒体チャネル            object
クリック      datetime64[ns]
申込        datetime64[ns]
参照用                int64
ASP名              object
単価                 int64
dtype: object

In [223]:
#ASIDの整数化
for i in range(len(df_dg)):
    if pd.isnull(df_dg['ASID'][i]) == True:
        df_dg.loc[:,'ASID'][i] = 0
df_dg = df_dg.astype({'ASID':int})

print(df_dg.shape)
print(df_dg.index)
print(df_dg.columns)
print(df_dg.dtypes)

(233, 8)
RangeIndex(start=0, stop=233, step=1)
Index(['ASID', 'メディア名', '媒体チャネル', 'クリック', '申込', '参照用', 'ASP名', '単価'], dtype='object')
ASID               int32
メディア名             object
媒体チャネル            object
クリック      datetime64[ns]
申込        datetime64[ns]
参照用                int64
ASP名              object
単価                 int64
dtype: object

In [224]:
#"申込年月"のカラム生成
df_dg['申込年'] = df_dg['申込'].dt.year
df_dg['申込月'] = df_dg['申込'].dt.month

df_dg['申込年月'] = df_dg[['申込年', '申込月']].apply(lambda x: '{}年{}月'.format(x[0], x[1]), axis=1)
df_dg = df_dg.drop(columns=['申込年','申込月'])

df_dg.head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,申込年月
0,37,げん玉,ポイント,2020-05-01 23:52:11,2020-05-02 00:22:05,155051921870800,BGT,9000,2020年5月
1,21,ポイントインカム,ポイント,2020-05-02 01:32:57,2020-05-02 01:46:04,155051921870867,BGT,9000,2020年5月
2,21,ポイントインカム,ポイント,2020-05-02 04:37:08,2020-05-02 04:46:04,155051921870883,BGT,9000,2020年5月
3,21,ポイントインカム,ポイント,2020-05-02 06:44:05,2020-05-02 06:56:05,155051921870925,BGT,9000,2020年5月
4,57,ライフメディア,ポイント,2020-05-02 10:09:03,2020-05-02 10:28:05,155051921871097,BGT,9000,2020年5月

In [225]:
df_app_concat

               入会申込番号 成果    カード加入日              参照用  カード売上額合計
15    155051921883902  可  20200601  155051921883902      5389
16    155051921872202  可  20200601  155051921872202      8547
54    155051921903262  可  20200601  155051921903262    600000
104   155051921870925  可  20200601  155051921870925      5463
105   155051921903114  可  20200601  155051921903114     14264
...               ... ..       ...              ...       ...
2304  155051921900573  可  20200529  155051921900573     22581
2307  155051921880767  可  20200529  155051921880767    102620
2308  155051921879702  可  20200529  155051921879702      6007
2309  155051921878712  可  20200529  155051921878712      5010
2310  155051921873218  可  20200529  155051921873218      7247

[461 rows x 5 columns]

In [226]:
print(df_app_concat.dtypes)

入会申込番号       int64
成果          object
カード加入日       int64
参照用          int64
カード売上額合計     int64
dtype: object

In [227]:
#承認データ（df_app）をマージする前に、df_app余計なカラムを削除
df_app_tmp = df_app_concat.drop(columns=['入会申込番号'])

#承認データの"成果"をマージ
df_dg2 = pd.merge(df_dg,df_app_tmp, on =['参照用'], how = 'left')
df_dg2[df_dg2['成果'] == '可'].head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,申込年月,成果,カード加入日,カード売上額合計
0,37,げん玉,ポイント,2020-05-01 23:52:11,2020-05-02 00:22:05,155051921870800,BGT,9000,2020年5月,可,20200527.0,30188.0
1,21,ポイントインカム,ポイント,2020-05-02 01:32:57,2020-05-02 01:46:04,155051921870867,BGT,9000,2020年5月,可,20200525.0,5616.0
2,21,ポイントインカム,ポイント,2020-05-02 04:37:08,2020-05-02 04:46:04,155051921870883,BGT,9000,2020年5月,可,20200525.0,5004.0
3,21,ポイントインカム,ポイント,2020-05-02 06:44:05,2020-05-02 06:56:05,155051921870925,BGT,9000,2020年5月,可,20200601.0,5463.0
4,57,ライフメディア,ポイント,2020-05-02 10:09:03,2020-05-02 10:28:05,155051921871097,BGT,9000,2020年5月,可,20200525.0,6017.0

In [228]:
df_dg2 = df_dg2.copy()

In [229]:
#マージしたらカード加入日がfloat型になってしまったため、整数型に戻す
for i in range(len(df_dg2)):
    if pd.isnull(df_dg2['カード加入日'][i]) == True:
        df_dg2.loc[:,'カード加入日'][i] = 0
        
df_dg2 = df_dg2.astype({'カード加入日':int})

C:\Users\crie072\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [230]:
df_dg2[df_dg2['カード加入日'] == 0].head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,申込年月,成果,カード加入日,カード売上額合計
10,21,ポイントインカム,ポイント,2020-05-02 15:39:00,2020-05-02 15:49:06,155051921871774,BGT,9000,2020年5月,NaN,0,NaN
19,5954,GetMoney!(JIPC参加企業)（連携用）,ポイント,2020-05-02 20:15:26,2020-05-02 20:33:06,155051921872228,BGT,9000,2020年5月,NaN,0,NaN
21,5954,GetMoney!(JIPC参加企業)（連携用）,ポイント,2020-05-02 21:40:20,2020-05-02 21:48:06,155051921872350,BGT,9000,2020年5月,NaN,0,NaN
32,21,ポイントインカム,ポイント,2020-05-03 10:28:55,2020-05-03 10:38:06,155051921872863,BGT,9000,2020年5月,NaN,0,NaN
38,37,げん玉,ポイント,2020-05-03 15:31:42,2020-05-03 16:03:07,155051921873366,BGT,9000,2020年5月,NaN,0,NaN

In [231]:
#"成果"がNanのものは[保留]に置換する
for i in range(len(df_dg2)):
    if pd.isnull(df_dg2['成果'][i]) == True:
        df_dg2.loc[:,'成果'][i] = "保留"
        
#カード加入日が0のものは[保留]に置換する
for i in range(len(df_dg2)):
    if df_dg2['カード加入日'][i] == 0:
        df_dg2.loc[:,'カード加入日'][i] = "保留"

C:\Users\crie072\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\crie072\anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\crie072\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [232]:
df_dg2.head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,申込年月,成果,カード加入日,カード売上額合計
0,37,げん玉,ポイント,2020-05-01 23:52:11,2020-05-02 00:22:05,155051921870800,BGT,9000,2020年5月,可,20200527,30188.0
1,21,ポイントインカム,ポイント,2020-05-02 01:32:57,2020-05-02 01:46:04,155051921870867,BGT,9000,2020年5月,可,20200525,5616.0
2,21,ポイントインカム,ポイント,2020-05-02 04:37:08,2020-05-02 04:46:04,155051921870883,BGT,9000,2020年5月,可,20200525,5004.0
3,21,ポイントインカム,ポイント,2020-05-02 06:44:05,2020-05-02 06:56:05,155051921870925,BGT,9000,2020年5月,可,20200601,5463.0
4,57,ライフメディア,ポイント,2020-05-02 10:09:03,2020-05-02 10:28:05,155051921871097,BGT,9000,2020年5月,可,20200525,6017.0

集計

In [233]:
#客数
df_dg2[df_dg2['成果'] == '可'].shape[0]

152

In [234]:
pd.crosstab(df_dg2['申込年月'],df_dg2['成果'])

成果       保留    可
申込年月
2020年5月  31  148
2020年6月  50    4

カード利用条件ありにしかカード加入日が入力されていないので、再付与

In [238]:
print(input_file_1)

df_new1 = pd.read_excel(data_dir /r"input"/f"{input_file_1}",usecols =['カード加入日','入会申込番号'],sheet_name=0)
df_new2 = pd.read_excel(data_dir /r"input"/f"{input_file_1}",usecols =['カード加入日','入会申込番号'],sheet_name=1)

df_new = pd.concat([df_new1,df_new2])

df_new = df_new.rename(columns={'入会申込番号':'参照用'}) #"参照用"はデジガレとのマッチング用
df_new

【C115】2020年5月・6月入会_6月利用実績.xlsx

        カード加入日              参照用
0     20200501  155603602331559
1     20200501  155051921869919
2     20200501  155603602532610
3     20200501  155603602532644
4     20200501  155051921869539
...        ...              ...
5274  20200630  155603602466991
5275  20200630  155603602466926
5276  20200630  155603602466926
5277  20200630  155603602466843
5278  20200630  155603602466843

[7603 rows x 2 columns]

In [239]:
df_dg3 = df_dg2.drop(columns={'カード加入日'})
df_dg3 = pd.merge(df_dg3,df_new, on =['参照用'], how = 'left')

#マージしたらカード加入日がfloat型になってしまったため、整数型に戻す
for i in range(len(df_dg3)):
    if pd.isnull(df_dg3['カード加入日'][i]) == True:
        df_dg3.loc[:,'カード加入日'][i] = 0
        
df_dg3 = df_dg3.astype({'カード加入日':int})

       
#カード加入日が0のものは[保留]に置換する
for i in range(len(df_dg3)):
    if df_dg3['カード加入日'][i] == 0:
        df_dg3.loc[:,'カード加入日'][i] = "保留"

In [240]:
df_dg3.head()

,ASID,メディア名,媒体チャネル,クリック,申込,参照用,ASP名,単価,申込年月,成果,カード売上額合計,カード加入日
0,37,げん玉,ポイント,2020-05-01 23:52:11,2020-05-02 00:22:05,155051921870800,BGT,9000,2020年5月,可,30188.0,20200527
1,21,ポイントインカム,ポイント,2020-05-02 01:32:57,2020-05-02 01:46:04,155051921870867,BGT,9000,2020年5月,可,5616.0,20200525
2,21,ポイントインカム,ポイント,2020-05-02 04:37:08,2020-05-02 04:46:04,155051921870883,BGT,9000,2020年5月,可,5004.0,20200525
3,21,ポイントインカム,ポイント,2020-05-02 06:44:05,2020-05-02 06:56:05,155051921870925,BGT,9000,2020年5月,可,5463.0,20200601
4,57,ライフメディア,ポイント,2020-05-02 10:09:03,2020-05-02 10:28:05,155051921871097,BGT,9000,2020年5月,可,6017.0,20200525

In [241]:
#CSVアウトプット
df_dg3.to_csv(data_dir /r"output"/f"{output_file_2}_{bk.sheet_names[3]}.csv", index=False,header=True,encoding='shift-jis')