In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
import csv
import xlrd
import io
from zipfile import ZipFile
from datetime import date, timedelta, time, datetime

In [3]:
today_yyyymmdd = date.today().strftime("%Y%m%d")
print(today_yyyymmdd)

20200702

import datetime 
base = datetime.date(2020,2,1)
for i in range(0,10): 
    d=base + datetime.timedelta(i)
    d=d.strftime("%Y%m%d")
    print(f"N029kakutokuruiseki{d}.csv")

from datetime import datetime, timedelta

def date_range(start_date: datetime, end_date: datetime):
    diff = (end_date - start_date).days + 1
    return (start_date + timedelta(i) for i in range(diff))

In [4]:
#pandasの表示列数を増やす
import pandas as pd
pd.set_option('display.max_columns', 100)

In [15]:
data_dir = Path(r"C:\Users\crie072\Documents\21_Online")

#セキュポスデータ from CSC
input_file1 = "N029（2020年5月度入会）.xlsx"
output_file1 = f"online_{today_yyyymmdd}"

#デジガレ確認用リスト
input_file2 = "20200524〆【JFRカード御中】成果データ&問い合わせ.xlsx"
output_file2 = f"オンライン獲得レポート_{today_yyyymmdd}"
print(input_file1)
print(output_file1)

print(input_file2)
print(output_file2)

N029（2020年5月度入会）.xlsx
online_20200702
20200524〆【JFRカード御中】成果データ&問い合わせ.xlsx
オンライン獲得レポート_20200702

column_names = ['実績月','入会申込番号','直近３ケ月買物利用金額','直近３ケ月全体利用金額','年令','性別',
                '都道府県名','顧客状況コ－ド','マイペ設定','DM希望店','カード券種名','カ－ド加入日','初回利用日',
                'あとからリボ申込有無コード','Weｂ明細有無コード','解約','入会チャネル']

In [76]:
df = pd.read_excel(data_dir /r"input"/f"{input_file1}", dtype={'エンボス内容': str})
df.head()

,カード加入日,会員カード発行区分,続柄,カード提携会社1CD,カード提携会社2CD,カード種類CD,カードブランドCD,切替CD,勧誘CD,受付部支店,性別CD,再発行CD,旧カード提携会社1CD,旧カード提携会社2CD,旧カード種類CD,旧カードブランドCD,入会申込番号,満年齢,リボ支払方法CD,勧誘団体CD,提携カード特殊エリア,エンボス内容,カード年会費CD,リボ利用対象CD
0,20200501,1,0,D02,1,2,1,0,3,102,1,0,NaN,NaN,NaN,NaN,155603602331567,48,12.0,2000,NaN,02000010215,2,0
1,20200501,1,0,D00,95,0,0,0,3,153,2,0,NaN,NaN,NaN,NaN,155603602331427,61,NaN,0,NaN,NaN,1,0
2,20200501,1,0,D00,95,0,0,0,3,299,1,0,NaN,NaN,NaN,NaN,155051921869703,54,NaN,0,NaN,NaN,1,0
3,20200501,1,0,D00,1,31,1,0,8,170,2,0,NaN,NaN,NaN,NaN,155193007662402,36,12.0,10000,20.0,10000711020,2,0
4,20200501,1,0,D00,1,31,1,0,8,153,2,0,NaN,NaN,NaN,NaN,155193027692611,74,12.0,53000,20.0,53000,2,0

In [77]:
print(df.shape)
print(df.index)
print(df.columns)
print(df.dtypes)

(2324, 24)
RangeIndex(start=0, stop=2324, step=1)
Index(['カード加入日', '会員カード発行区分', '続柄', 'カード提携会社1CD', 'カード提携会社2CD', 'カード種類CD',
       'カードブランドCD', '切替CD', '勧誘CD', '受付部支店', '性別CD', '再発行CD', '旧カード提携会社1CD',
       '旧カード提携会社2CD', '旧カード種類CD', '旧カードブランドCD', '入会申込番号', '満年齢', 'リボ支払方法CD',
       '勧誘団体CD', '提携カード特殊エリア', 'エンボス内容', 'カード年会費CD', 'リボ利用対象CD'],
      dtype='object')
カード加入日           int64
会員カード発行区分       object
続柄               int64
カード提携会社1CD      object
カード提携会社2CD       int64
カード種類CD          int64
カードブランドCD        int64
切替CD             int64
勧誘CD             int64
受付部支店            int64
性別CD             int64
再発行CD            int64
旧カード提携会社1CD     object
旧カード提携会社2CD    float64
旧カード種類CD       float64
旧カードブランドCD     float64
入会申込番号           int64
満年齢              int64
リボ支払方法CD       float64
勧誘団体CD           int64
提携カード特殊エリア     float64
エンボス内容          object
カード年会費CD         int64
リボ利用対象CD         int64
dtype: object

In [78]:
df['カード加入日'] = pd.to_datetime(df['カード加入日'], format = '%Y%m%d')
df['カ－ド加入年'] = df['カード加入日'].dt.year
df['カ－ド加入月'] = df['カード加入日'].dt.month
df.head()

,カード加入日,会員カード発行区分,続柄,カード提携会社1CD,カード提携会社2CD,カード種類CD,カードブランドCD,切替CD,勧誘CD,受付部支店,性別CD,再発行CD,旧カード提携会社1CD,旧カード提携会社2CD,旧カード種類CD,旧カードブランドCD,入会申込番号,満年齢,リボ支払方法CD,勧誘団体CD,提携カード特殊エリア,エンボス内容,カード年会費CD,リボ利用対象CD,カ－ド加入年,カ－ド加入月
0,2020-05-01,1,0,D02,1,2,1,0,3,102,1,0,NaN,NaN,NaN,NaN,155603602331567,48,12.0,2000,NaN,02000010215,2,0,2020,5
1,2020-05-01,1,0,D00,95,0,0,0,3,153,2,0,NaN,NaN,NaN,NaN,155603602331427,61,NaN,0,NaN,NaN,1,0,2020,5
2,2020-05-01,1,0,D00,95,0,0,0,3,299,1,0,NaN,NaN,NaN,NaN,155051921869703,54,NaN,0,NaN,NaN,1,0,2020,5
3,2020-05-01,1,0,D00,1,31,1,0,8,170,2,0,NaN,NaN,NaN,NaN,155193007662402,36,12.0,10000,20.0,10000711020,2,0,2020,5
4,2020-05-01,1,0,D00,1,31,1,0,8,153,2,0,NaN,NaN,NaN,NaN,155193027692611,74,12.0,53000,20.0,53000,2,0,2020,5

In [79]:
#オンライン入会に限定する
df = df[(df["会員カード発行区分"] == "1") 
               & (df["続柄"] == 0) 
               & ~(df["カード提携会社2CD"] == 95) 
               & (df["切替CD"] == 0) 
               & (df["受付部支店"] == 299)]
df.shape[0]

585

In [80]:
#入会申込番号の重複がないかチェック
print(len(df) == len(df['入会申込番号'].unique()))

True

In [85]:
#重複削除
df_dup = df.drop_duplicates(subset=['入会申込番号'])
df_dup.shape[0]

585

In [86]:
#欠損データがないかチェック
df_dup.isnull().sum()

カード加入日           0
会員カード発行区分        0
続柄               0
カード提携会社1CD       0
カード提携会社2CD       0
カード種類CD          0
カードブランドCD        0
切替CD             0
勧誘CD             0
受付部支店            0
性別CD             0
再発行CD            0
旧カード提携会社1CD    585
旧カード提携会社2CD    585
旧カード種類CD       585
旧カードブランドCD     585
入会申込番号           0
満年齢              0
リボ支払方法CD         0
勧誘団体CD           0
提携カード特殊エリア       0
エンボス内容           0
カード年会費CD         0
リボ利用対象CD         0
カ－ド加入年           0
カ－ド加入月           0
dtype: int64

In [95]:
df_dup.to_csv(data_dir /r"output"/f"{output_file1}.csv", index=False,header=True,encoding='utf-8-sig')

In [ ]:
#デジガレのリスト読込

In [88]:
print(input_file2)

df_dg = pd.read_excel(data_dir/r"input"/f"{input_file2}", sheet_name = 2)
df_dg = df_dg.rename(columns = {'参照用': '入会申込番号'})

#シート名取得
bk = pd.ExcelFile(data_dir/r"input"/f"{input_file2}")
print(bk.sheet_names)

df_dg.head()

20200524〆【JFRカード御中】成果データ&問い合わせ.xlsx
['成果データ', '識別子不明', '成果データ（5月～利用条件追加媒体）']

,ASID,メディア名,媒体チャネル,クリック,申込,入会申込番号,ASP名,単価,成果
0,37,げん玉,ポイント,2020-05-01 00:06:29,2020-05-01 00:22:04,155051921869356,BGT,9000,NaN
1,37,げん玉,ポイント,2020-05-01 00:31:25,2020-05-01 00:52:05,155051921869372,BGT,9000,NaN
2,37,げん玉,ポイント,2020-05-01 01:21:40,2020-05-01 01:28:04,155051921869380,BGT,9000,NaN
3,21,ポイントインカム,ポイント,2020-05-01 06:15:50,2020-05-01 06:25:05,155051921869414,BGT,9000,NaN
4,37,げん玉,ポイント,2020-05-01 06:27:16,2020-05-01 06:34:04,155051921869422,BGT,9000,NaN

In [89]:
print(df_dg.shape)
print(df_dg.index)
print(df_dg.columns)
print(df_dg.dtypes)

(400, 9)
RangeIndex(start=0, stop=400, step=1)
Index(['ASID', 'メディア名', '媒体チャネル', 'クリック', '申込', '入会申込番号', 'ASP名', '単価', '成果'], dtype='object')
ASID               int64
メディア名             object
媒体チャネル            object
クリック      datetime64[ns]
申込        datetime64[ns]
入会申込番号             int64
ASP名              object
単価                 int64
成果               float64
dtype: object

In [90]:
df_dg['申込'] = pd.to_datetime(df_dg['申込'], format = '%Y%m%d')
df_dg['申込年'] = df_dg['申込'].dt.year
df_dg['申込月'] = df_dg['申込'].dt.month
df_dg.head()

,ASID,メディア名,媒体チャネル,クリック,申込,入会申込番号,ASP名,単価,成果,申込年,申込月
0,37,げん玉,ポイント,2020-05-01 00:06:29,2020-05-01 00:22:04,155051921869356,BGT,9000,NaN,2020,5
1,37,げん玉,ポイント,2020-05-01 00:31:25,2020-05-01 00:52:05,155051921869372,BGT,9000,NaN,2020,5
2,37,げん玉,ポイント,2020-05-01 01:21:40,2020-05-01 01:28:04,155051921869380,BGT,9000,NaN,2020,5
3,21,ポイントインカム,ポイント,2020-05-01 06:15:50,2020-05-01 06:25:05,155051921869414,BGT,9000,NaN,2020,5
4,37,げん玉,ポイント,2020-05-01 06:27:16,2020-05-01 06:34:04,155051921869422,BGT,9000,NaN,2020,5

In [91]:
df_dg.shape[0]

400

In [92]:
#2つのテーブルをマージ
df_dg2 = pd.merge(df_dg,df_dup, on =['入会申込番号'], how = 'left')
df_dg2.shape[0]

400

In [93]:
df_dg2.head()

,ASID,メディア名,媒体チャネル,クリック,申込,入会申込番号,ASP名,単価,成果,申込年,申込月,カード加入日,会員カード発行区分,続柄,カード提携会社1CD,カード提携会社2CD,カード種類CD,カードブランドCD,切替CD,勧誘CD,受付部支店,性別CD,再発行CD,旧カード提携会社1CD,旧カード提携会社2CD,旧カード種類CD,旧カードブランドCD,満年齢,リボ支払方法CD,勧誘団体CD,提携カード特殊エリア,エンボス内容,カード年会費CD,リボ利用対象CD,カ－ド加入年,カ－ド加入月
0,37,げん玉,ポイント,2020-05-01 00:06:29,2020-05-01 00:22:04,155051921869356,BGT,9000,NaN,2020,5,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,37,げん玉,ポイント,2020-05-01 00:31:25,2020-05-01 00:52:05,155051921869372,BGT,9000,NaN,2020,5,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,37,げん玉,ポイント,2020-05-01 01:21:40,2020-05-01 01:28:04,155051921869380,BGT,9000,NaN,2020,5,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21,ポイントインカム,ポイント,2020-05-01 06:15:50,2020-05-01 06:25:05,155051921869414,BGT,9000,NaN,2020,5,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,37,げん玉,ポイント,2020-05-01 06:27:16,2020-05-01 06:34:04,155051921869422,BGT,9000,NaN,2020,5,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
#客数
df_count = df_dg2.groupby(['媒体チャネル','申込年','申込月','単価'])['入会申込番号'].count()
df_count.to_csv(data_dir /r"output"/f"{output_file2}.csv", header=True,encoding='utf-8-sig')

df_count.head()

媒体チャネル  申込年   申込月  単価
ポイント    2020  5    9000    400
Name: 入会申込番号, dtype: int64

In [170]:
#SettingWithCopyWarning回避対策
df_dup2 = df_dup.drop(columns=['あとからリボ申込有無コード'])
df_dup2['初回利用日フラグ'] = df_dup2['初回利用日'].apply(lambda x : "1" if x > 0 else "0")

In [171]:
#利用無し客を置き換え
df_dup2.loc[df_dup2['初回利用日'] <= 0, '初回利用日'] = 20301231
df_dup2.head()

,実績月,入会申込番号,直近６ケ月買物利用金額,直近６ケ月全体利用金額,年令,性別,都道府県名,顧客状況コ－ド,マイペ設定,DM希望店コード,カード券種名,カ－ド加入日,初回利用日,Weｂ明細有無コード,解約,入会チャネル,カ－ド加入年,カ－ド加入月,初回利用日フラグ
0,202004,155051921627812,600,600,38,女性,東京都,0,0,M_上野店,大丸松坂屋VISAゴールド,2020-01-06,20200116,1,0,オンライン,2020,1,1
1,202004,155051921628414,489,489,27,男性,兵庫県,0,0,Ｄ_神戸店,大丸松坂屋VISAゴールド,2020-01-06,20200118,1,0,オンライン,2020,1,1
2,202004,155051921636805,100,100,63,男性,大阪府,0,0,Ｄ_梅田店,大丸松坂屋VISAゴールド,2020-01-06,20200115,1,0,オンライン,2020,1,1
3,202004,155193017345014,2,2,45,男性,茨城県,0,1,Ｄ_東京店,大丸松坂屋VISAゴールド,2020-01-06,20200116,1,0,店頭タブレット,2020,1,1
4,202004,155193017345790,148,148,59,男性,兵庫県,0,1,Ｄ_梅田店,大丸松坂屋VISAゴールド,2020-01-06,20200209,1,0,店頭タブレット,2020,1,1

#df_dup[['カ－ド加入日','初回利用日']] = df_dup[['カ－ド加入日','初回利用日']].applymap(str).applymap(lambda s: "{}/{}/{}".format(s[0:4],s[4:6],s[6:]))

#df_dup['カ－ド加入日'] = pd.to_datetime(df_dup['カ－ド加入日'], format='%Y-%m-%d')

In [172]:
df_dup2['初回利用日'] = pd.to_datetime(df_dup2['初回利用日'], format = '%Y%m%d').copy()
df_dup2.head()

,実績月,入会申込番号,直近６ケ月買物利用金額,直近６ケ月全体利用金額,年令,性別,都道府県名,顧客状況コ－ド,マイペ設定,DM希望店コード,カード券種名,カ－ド加入日,初回利用日,Weｂ明細有無コード,解約,入会チャネル,カ－ド加入年,カ－ド加入月,初回利用日フラグ
0,202004,155051921627812,600,600,38,女性,東京都,0,0,M_上野店,大丸松坂屋VISAゴールド,2020-01-06,2020-01-16,1,0,オンライン,2020,1,1
1,202004,155051921628414,489,489,27,男性,兵庫県,0,0,Ｄ_神戸店,大丸松坂屋VISAゴールド,2020-01-06,2020-01-18,1,0,オンライン,2020,1,1
2,202004,155051921636805,100,100,63,男性,大阪府,0,0,Ｄ_梅田店,大丸松坂屋VISAゴールド,2020-01-06,2020-01-15,1,0,オンライン,2020,1,1
3,202004,155193017345014,2,2,45,男性,茨城県,0,1,Ｄ_東京店,大丸松坂屋VISAゴールド,2020-01-06,2020-01-16,1,0,店頭タブレット,2020,1,1
4,202004,155193017345790,148,148,59,男性,兵庫県,0,1,Ｄ_梅田店,大丸松坂屋VISAゴールド,2020-01-06,2020-02-09,1,0,店頭タブレット,2020,1,1

df_dup['実績月'] = df_dup['実績月'] * 100 + 1

df_dup['実績月'] = pd.to_datetime(df_dup['実績月'], format = '%Y%m%d')

df_dup[['実績月2']] = df_dup[['実績月']].applymap(str).applymap(lambda s: "{}/{}/{}".format(s[0:4],s[4:6],s[6:]))

df_dup['実績月2'] = pd.to_datetime(df_dup['実績月2'], format='%Y-%m-%d')

df_dup = df_dup.drop(columns=['実績月'])

集計

In [173]:
df_dup2['no'] = 1

In [174]:
#客数
df_count = df_dup2.groupby(['実績月','入会チャネル','カ－ド加入年','カ－ド加入月','初回利用日フラグ','解約'])['no'].count()

In [175]:
#金額
df_amount= df_dup2.groupby(['実績月','入会チャネル','カ－ド加入年','カ－ド加入月','初回利用日フラグ','解約'])['直近６ケ月全体利用金額'].sum()

In [176]:
df_merge = pd.merge(df_count, df_amount, on=['実績月','入会チャネル','カ－ド加入年','カ－ド加入月','初回利用日フラグ','解約'], how='inner')
df_merge.head()

                                          no  直近６ケ月全体利用金額
実績月    入会チャネル カ－ド加入年 カ－ド加入月 初回利用日フラグ 解約
202004 オンライン  2020   1      0        0   410           30
                                     1    49            0
                            1        0   286        25691
                                     1     8            5
                     2      0        0   717            4

In [177]:
df_merge.to_csv(data_dir /r"output"/f"{output_file}.csv", header=True,encoding='utf-8-sig')

In [178]:
#アフィリエイト先別に実績集計

In [192]:
df_cum = pd.read_excel(data_dir/"input"/f"{input_file_2}", dtype={'参照用': str})
df_cum = df_cum.rename(columns={"参照用":'入会申込番号'})
df_cum.head()

,ASID,メディア名,媒体チャネル,クリック,申込,入会申込番号,ASP名,単価,可否,承認作業月
0,37,げん玉,ポイント,2020-01-08 19:11:08,2020-01-08 19:32:05,155051921643397,BGT,9000,可,1月
1,52,ECナビSP,ポイント,2020-01-08 20:21:44,2020-01-08 20:31:05,155051921643553,BGT,9000,可,1月
2,52,ECナビSP,ポイント,2020-01-08 20:31:50,2020-01-08 20:39:06,155051921643587,BGT,9000,可,1月
3,52,ECナビSP,ポイント,2020-01-08 20:34:03,2020-01-08 20:45:05,155051921643678,BGT,9000,可,1月
4,82,ちょびリッチ。ドットコム,ポイント,2020-01-08 20:32:12,2020-01-08 20:55:06,155051921643744,BGT,9000,可,1月

In [184]:
for i in range(len(df_cum)):
    if pd.isnull(df_cum['ASID'][i]) == True:
        df_cum.loc[:,'ASID'][i] = 0

df_cum = df_cum.astype({'ASID':int})

In [185]:
df_dup2.head()

,実績月,入会申込番号,直近６ケ月買物利用金額,直近６ケ月全体利用金額,年令,性別,都道府県名,顧客状況コ－ド,マイペ設定,DM希望店コード,カード券種名,カ－ド加入日,初回利用日,Weｂ明細有無コード,解約,入会チャネル,カ－ド加入年,カ－ド加入月,初回利用日フラグ,no
0,202004,155051921627812,600,600,38,女性,東京都,0,0,M_上野店,大丸松坂屋VISAゴールド,2020-01-06,2020-01-16,1,0,オンライン,2020,1,1,1
1,202004,155051921628414,489,489,27,男性,兵庫県,0,0,Ｄ_神戸店,大丸松坂屋VISAゴールド,2020-01-06,2020-01-18,1,0,オンライン,2020,1,1,1
2,202004,155051921636805,100,100,63,男性,大阪府,0,0,Ｄ_梅田店,大丸松坂屋VISAゴールド,2020-01-06,2020-01-15,1,0,オンライン,2020,1,1,1
3,202004,155193017345014,2,2,45,男性,茨城県,0,1,Ｄ_東京店,大丸松坂屋VISAゴールド,2020-01-06,2020-01-16,1,0,店頭タブレット,2020,1,1,1
4,202004,155193017345790,148,148,59,男性,兵庫県,0,1,Ｄ_梅田店,大丸松坂屋VISAゴールド,2020-01-06,2020-02-09,1,0,店頭タブレット,2020,1,1,1

In [193]:
#新規入会リストからオンライン客に限定
df_online =df_dup2[(df_dup2["入会チャネル"] == "オンライン") 
               & (df_dup2["実績月"] == act_month) ]
df_online = df_online.astype({'入会申込番号':str})

In [195]:
df_online.shape[0]

2346

In [207]:
df_merge = pd.merge(df_cum, df_online, on=['入会申込番号'], how='inner')
df_merge.shape[0]

1520

In [200]:
#客数
df_count = df_merge.groupby(['メディア名','実績月','入会チャネル','カ－ド加入年','カ－ド加入月','初回利用日フラグ','解約'])['no'].count()

In [201]:
#金額
df_amount= df_merge.groupby(['メディア名','実績月','入会チャネル','カ－ド加入年','カ－ド加入月','初回利用日フラグ','解約'])['直近６ケ月全体利用金額'].sum()

In [202]:
df_merge = pd.merge(df_count, df_amount, on=['メディア名','実績月','入会チャネル','カ－ド加入年','カ－ド加入月','初回利用日フラグ','解約'], how='inner')
df_merge.head()

                                                          no  直近６ケ月全体利用金額
メディア名            実績月    入会チャネル カ－ド加入年 カ－ド加入月 初回利用日フラグ 解約
CLUBPanasonicコイン 202004 オンライン  2020   1      0        0    1            0
                                             1        0    3          104
                                      2      0        0    3            0
                                             1        0    1            2
                                      3      0        0    2            0

In [203]:
df_merge.to_csv(data_dir /r"output"/f"{output_file_2}.csv", header=True,encoding='utf-8-sig')