In [1]:
pip install -U pandasql

Requirement already up-to-date: pandasql in c:\users\crie072\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied, skipping upgrade: sqlalchemy in c:\users\crie072\anaconda3\lib\site-packages (from pandasql) (1.3.13)
Requirement already satisfied, skipping upgrade: numpy in c:\users\crie072\anaconda3\lib\site-packages (from pandasql) (1.18.1)
Requirement already satisfied, skipping upgrade: pandas in c:\users\crie072\anaconda3\lib\site-packages (from pandasql) (1.0.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\users\crie072\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\crie072\anaconda3\lib\site-packages (from pandas->pandasql) (2019.3)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\crie072\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas->pandasql) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
import csv
import xlrd
import io
from zipfile import ZipFile
from datetime import date, timedelta, time, datetime

from pandasql import sqldf

In [3]:
today_yyyymmdd = date.today().strftime("%Y%m%d")
print(today_yyyymmdd)

20201031

In [5]:
#pandasの表示列数を増やす
import pandas as pd
pd.set_option('display.max_columns', 100)

In [7]:
#ディレクトリ指定
data_dir = Path(r"C:\Users\crie072\Documents\01_データ関連\Adhoc\202010_スコアカード")

In [8]:
#input
input_file = "2020年8月度_登録口座数.xlsx"
input_book = pd.ExcelFile(data_dir/ f"{input_file}")

In [9]:
print(input_file)

2020年8月度_登録口座数.xlsx

In [10]:
#各シート名を取得
input_sheet_name = input_book.sheet_names
print(input_sheet_name)

['2020.03', '2020.04', '2020.05', '2020.06', '2020.07', '2020.08', '△△2016.02＜前年実績貼り付け済＞']

In [11]:
#シート数を確認
num_sheet = len(input_sheet_name)
print(num_sheet)

7

In [32]:
#最初の10行を確認
input_sheet_df = input_book.parse(input_sheet_name[0])
input_sheet_df.head(50)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,NaN,NaN,NaN,口座数,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,発行枚数,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,01店,06店,03店,04店,02店,07店,10店,11店,12店,13店,14店,51店,53店,合計,01店,06店,03店,04店,02店,07店,10店,11店,12店,13店,14店,51店,53店,合計
2,NaN,大丸松坂屋ｶｰﾄﾞVISA,NaN,NaN,58607,90446,109539,145919,62762,56453,14575,5581,4242,30,1542,0,4057,553753,67097,101597,127097,171761,67619,59043,15213,5779,4352,33,1594,0,4515,625700
3,NaN,大丸松坂屋従業員VISA,NaN,NaN,1263,789,1164,1306,794,308,157,38,34,1,14,0,66,5934,1797,1044,1785,1899,990,344,172,43,40,1,18,0,86,8219
4,NaN,さくらﾊﾟﾝﾀﾞｶｰﾄﾞVISA,NaN,NaN,21636,49319,33822,37485,36264,61500,26712,11343,9388,2,3155,0,2447,293073,22107,50335,34832,38741,37015,62473,27310,11534,9476,2,3206,0,2594,299625
5,NaN,#大丸松坂屋ｶｰﾄﾞVISA,NaN,NaN,998,1902,1841,1750,557,1045,400,31,32,0,17,0,1,8574,1000,1909,1850,1760,557,1047,400,31,32,0,17,0,1,8604
6,NaN,#さくらﾊﾟﾝﾀﾞｶｰﾄﾞVISA,NaN,NaN,671,1394,1246,752,352,1058,478,29,50,0,16,0,0,6046,672,1399,1248,755,352,1058,478,29,50,0,16,0,0,6057
7,NaN,大丸松坂屋VISA(郵政弘済会）,NaN,NaN,78,118,172,204,4,0,0,0,0,0,0,0,0,576,105,156,220,275,5,0,0,0,0,0,0,0,0,761
8,NaN,大丸松坂屋VISA(ﾋｭｰﾘｯｸ）,NaN,NaN,48,110,60,33,590,18,2,0,1,0,0,0,0,862,55,129,76,45,739,22,3,0,1,0,0,0,0,1070
9,NaN,大丸松坂屋VISA（烏丸商事）,NaN,NaN,7,51,498,0,12,0,0,0,0,0,0,0,0,568,7,60,623,0,14,0,0,0,0,0,0,0,0,704
10,NaN,大丸松坂屋VISA合計,NaN,NaN,83308,144129,148342,187449,101335,120382,42324,17022,13747,33,4744,0,6571,869386,92840,156629,167731,215236,107291,123987,43576,17416,13951,36,4851,0,7196,950740
11,NaN,※大丸松坂屋ｶｰﾄﾞVISA,NaN,NaN,53,181,131,100,379,43,90026,33020,31353,3619,16622,0,0,175527,58,203,141,110,421,44,100493,35538,33387,3948,17815,0,0,192158
12,NaN,※大丸松坂屋従業員VISA,NaN,NaN,7,12,7,1,26,4,1367,434,258,132,144,0,0,2392,9,18,8,1,32,7,1909,568,331,168,199,0,0,3250
13,NaN,※さくらﾊﾟﾝﾀﾞｶｰﾄﾞVISA,NaN,NaN,22,76,44,37,196,27,28793,13115,10843,488,3203,0,0,56844,25,81,45,39,204,27,29936,13482,11046,503,3299,0,0,58687
14,NaN,※#大丸松坂屋ｶｰﾄﾞVISA,NaN,NaN,2,4,0,0,6,0,240,24,17,3,9,0,0,305,2,4,0,0,6,0,241,24,17,3,9,0,0,306
15,NaN,※#さくらﾊﾟﾝﾀﾞｶｰﾄﾞVISA,NaN,NaN,1,1,0,1,4,0,169,12,7,4,9,0,0,208,1,1,0,1,4,0,169,12,8,4,9,0,0,209
16,NaN,旧松坂屋VISA合計,NaN,NaN,85,274,182,139,611,74,120595,46605,42478,4246,19987,0,0,235276,95,307,194,151,667,78,132748,49624,44789,4626,21331,0,0,254610
17,NaN,大丸松坂屋ｶｰﾄﾞﾏｽﾀｰ,NaN,NaN,16276,27750,29090,39688,26138,16479,6719,2375,1440,14,533,0,454,166956,18279,30624,33500,46404,27836,17157,6968,2425,1471,15,546,0,494,185719
18,NaN,大丸松坂屋従業員ﾏｽﾀｰ,NaN,NaN,35,55,33,48,62,26,46,5,7,0,0,0,17,334,38,69,40,52,68,27,50,5,7,0,0,0,20,376
19,NaN,#大丸松坂屋ｶｰﾄﾞﾏｽﾀｰ,NaN,NaN,233,482,461,374,236,361,147,13,4,1,9,0,0,2321,235,483,463,378,236,362,147,13,4,1,9,0,0,2331
20,NaN,大丸松坂屋ﾏｽﾀｰ（大阪学校生協）,NaN,NaN,490,1020,52,44,1,0,0,0,1,0,1,0,0,1609,606,1210,65,58,1,0,0,0,1,0,1,0,0,1942
21,NaN,大丸松坂屋ﾏｽﾀｰ合計,NaN,NaN,17034,29307,29636,40154,26437,16866,6912,2393,1452,15,543,0,471,171220,19158,32386,34068,46892,28141,17546,7165,2443,1483,16,556,0,514,190368
22,NaN,※大丸松坂屋ｶｰﾄﾞﾏｽﾀｰ,NaN,NaN,14,53,32,26,122,17,20888,7575,5265,869,3158,0,0,38019,14,58,37,29,137,19,23363,8197,5628,951,3382,0,0,41815
23,NaN,※大丸松坂屋従業員ﾏｽﾀｰ,NaN,NaN,2,3,3,1,8,0,393,123,62,50,38,0,0,683,2,4,4,1,12,0,502,164,77,60,53,0,0,879
24,NaN,※#大丸松坂屋ｶｰﾄﾞﾏｽﾀｰ,NaN,NaN,0,0,1,0,3,0,59,9,3,0,3,0,0,78,0,0,1,0,3,0,60,9,3,0,3,0,0,79
25,NaN,旧松坂屋ﾏｽﾀｰ合計,NaN,NaN,16,56,36,27,133,17,21340,7707,5330,919,3199,0,0,38780,16,62,42,30,152,19,23925,8370,5708,1011,3438,0,0,42773
26,NaN,大丸松坂屋ｺﾞｰﾙﾄﾞVISA,NaN,NaN,4196,3279,4259,8777,3546,2993,1858,527,192,7,76,0,90,29800,5707,4451,6311,13407,4458,4134,2515,659,244,7,94,0,99,42086
27,NaN,※大丸松坂屋ｺﾞｰﾙﾄﾞVISA,NaN,NaN,8,3,5,7,17,5,3266,657,459,39,114,0,0,4580,10,4,7,10,23,7,4755,890,615,51,164,0,0,6536
28,NaN,大丸松坂屋ｺﾞｰﾙﾄﾞﾏｽﾀｰ,NaN,NaN,1012,743,1052,1932,1205,771,571,170,62,0,20,0,13,7551,1353,1004,1519,2884,1482,1042,776,211,80,0,26,0,17,10394
29,NaN,※大丸松坂屋ｺﾞｰﾙﾄﾞﾏｽﾀｰ,NaN,NaN,2,1,3,0,5,0,647,144,88,10,13,0,0,913,2,3,5,0,5,0,963,192,120,13,16,0,0,1319
30,NaN,大丸松坂屋ｶｰﾄﾞ（専用G）,NaN,NaN,4237,1994,4028,13143,1666,4766,11,3,3,0,12,0,0,29863,7217,3531,6664,21926,2115,6116,15,3,5,0,20,0,0,47612
31,NaN,※大丸松坂屋ｶｰﾄﾞ（専用G）,NaN,NaN,1,2,5,1,10,2,4705,1345,726,57,34,0,0,6888,2,4,9,2,16,3,7303,1791,967,81,47,0,0,10225
32,NaN,大丸松坂屋お得意様VISA,NaN,NaN,18243,6249,16800,18836,10815,9604,34691,6122,5418,1,905,0,1,127685,37594,13266,35450,40568,19357,19395,73546,10469,9936,4,1746,0,1,261332
33,NaN,【高知】大丸松坂屋お得意様VISA,NaN,NaN,0,3,1,0,0,0,1,0,0,0,0,3832,0,3837,0,5,2,0,0,0,1,0,0,0,0,6138,0,6146
34,NaN,【下関】大丸松坂屋お得意様VISA,NaN,NaN,1,2,1,0,4,0,1,0,1,0,0,0,5345,5355,1,2,2,0,6,0,1,0,1,0,0,0,7940,7953
35,NaN,大丸松坂屋お得意様ﾏｽﾀｰ,NaN,NaN,3283,1334,3172,3396,3383,2240,7458,1145,810,0,144,0,0,26365,6725,2806,6710,7175,6172,4490,15917,2039,1470,0,271,0,0,53775
36,NaN,【高知】大丸松坂屋お得意様ﾏｽﾀｰ,NaN,NaN,0,0,1,2,2,0,0,0,0,0,0,468,0,473,0,0,2,5,4,0,0,0,0,0,0,756,0,767
37,NaN,【下関】大丸松坂屋お得意様ﾏｽﾀｰ,NaN,NaN,0,0,0,0,1,0,0,0,0,0,0,0,625,626,0,0,0,0,1,0,0,0,0,0,0,0,905,906
38,NaN,大丸松坂屋ｶｰﾄﾞ（臨時発行),NaN,NaN,3,7,11,6,6,16,27,3,9,0,0,0,0,88,3,7,11,6,6,16,27,3,9,0,0,0,0,88
39,NaN,※大丸松坂屋ｶｰﾄﾞ（臨時発行）,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
40,NaN,臨時発行合計,NaN,NaN,3,7,11,6,6,16,27,3,9,0,0,0,0,88,3,7,11,6,6,16,27,3,9,0,0,0,0,88
41,NaN,合計,NaN,NaN,131429,187383,207534,273869,149176,157736,244407,83843,70775,5327,29791,4300,13116,1558686,170723,214467,258727,348292,169896,176833,313233,94110,79378,5845,32560,6894,16672,1887630
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,2020-03-01 00:00:00,NaN,NaN,大丸松坂屋カード ・ 大丸松坂屋お得意様ゴールドカード,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ＪＦＲカード㈱,2020-09-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,登録口座数,NaN,NaN,NaN,心斎橋店,梅田店,京都店,神戸店,東京店,札幌店,名古屋店,上野店,静岡店,銀座店,高槻店,下関店,大松合計,高知大丸,総合計,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,登録口座数,旧\nDAIMARU CARD\nＶＩＳＡ,本月末口座数,NaN,83308,144129,148342,187449,101335,120382,42324,17022,13747,33,4744,6571,869386,0,869386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,前月末,口 座 数,84071,145301,149144,188454,101990,121155,42664,17139,13816,33,4774,4707,873248,0,873248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#最後の5行確認
input_sheet_df.tail(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
430,NaN,NaN,NaN,増 減 数,2705,1441,533,3886,5287,2220,2982,107,91,0,48,-388,18912,-99,18813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431,NaN,NaN,NaN,増 減 率,0.065,0.098,0.013,0.088,0.259,0.102,0.034,0.009,0.008,0,0.024,-0.043,0.062,-0.014,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
432,NaN,※店はDM店ベース,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433,NaN,NaN,NaN,NaN,心斎橋店,梅田店,京都店,神戸店,東京店,札幌店,名古屋店,上野店,静岡店,銀座店,高槻店,下関店,大松合計,高知大丸,総合計,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434,内 さくらパンダ 本月末発行枚数,NaN,NaN,NaN,22539,51319,35878,39239,37268,63174,57334,24871,20448,503,6488,2707,361768,0,361768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [219]:
df = input_sheet_df.iloc[[47,62,83,104,125,146,174,202,209],[1,4,5,6,7,8,9,10,11,12,13,14,15,17]]
df

,Unnamed: 1,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 17
47,NaN,心斎橋店,梅田店,京都店,神戸店,東京店,札幌店,名古屋店,上野店,静岡店,銀座店,高槻店,下関店,高知大丸
62,大丸松坂屋カード\nＶＩＳＡ,83393,144403,148524,187588,101946,120456,162919,63627,56225,4279,24731,6571,0
83,大丸松坂屋カード\nＭａｓｔｅｒ,17050,29363,29672,40181,26570,16883,28252,10100,6782,934,3742,471,0
104,大丸松坂屋カード\nゴールドＶＩＳＡ,4204,3282,4264,8784,3563,2998,5124,1184,651,46,190,90,0
125,大丸松坂屋カード\nゴールドＭａｓｔｅｒ,1014,744,1055,1932,1210,771,1218,314,150,10,33,13,0
146,大丸松坂屋カード\nゴールドハウス,4238,1996,4033,13144,1676,4768,4716,1348,729,57,46,0,0
174,大丸松坂屋お得意様\nゴールド ＶＩＳＡ,18244,6254,16802,18836,10819,9604,34693,6122,5419,1,905,5346,3832
202,大丸松坂屋お得意様\nゴールド Ｍａｓｔｅｒ,3283,1334,3173,3398,3386,2240,7458,1145,810,0,144,625,468
209,臨時カード（即発）,3,7,11,6,6,16,27,3,9,0,0,0,0

In [220]:
#列名を変更
df = df.rename(columns={"Unnamed: 1":"card",
                        "Unnamed: 4":"心斎橋店",
                        "Unnamed: 5":"梅田店",
                        "Unnamed: 6":"京都店",
                        "Unnamed: 7":"神戸店",
                        "Unnamed: 8":"東京店",
                        "Unnamed: 9":"札幌店",
                        "Unnamed: 10":"名古屋店",
                        "Unnamed: 11":"上野店",
                        "Unnamed: 12":"静岡店",
                        "Unnamed: 13":"銀座店",
                        "Unnamed: 14":"高槻店",
                        "Unnamed: 15":"下関店",
                        "Unnamed: 17":"高知大丸"})

In [204]:
df

,card,心斎橋店,梅田店,京都店,神戸店,東京店,札幌店,名古屋店,上野店,静岡店,銀座店,高槻店,下関店,高知大丸
47,NaN,心斎橋店,梅田店,京都店,神戸店,東京店,札幌店,名古屋店,上野店,静岡店,銀座店,高槻店,下関店,高知大丸
62,大丸松坂屋カード\nＶＩＳＡ,83393,144403,148524,187588,101946,120456,162919,63627,56225,4279,24731,6571,0
83,大丸松坂屋カード\nＭａｓｔｅｒ,17050,29363,29672,40181,26570,16883,28252,10100,6782,934,3742,471,0
104,大丸松坂屋カード\nゴールドＶＩＳＡ,4204,3282,4264,8784,3563,2998,5124,1184,651,46,190,90,0
125,大丸松坂屋カード\nゴールドＭａｓｔｅｒ,1014,744,1055,1932,1210,771,1218,314,150,10,33,13,0
146,大丸松坂屋カード\nゴールドハウス,4238,1996,4033,13144,1676,4768,4716,1348,729,57,46,0,0
174,大丸松坂屋お得意様\nゴールド ＶＩＳＡ,18244,6254,16802,18836,10819,9604,34693,6122,5419,1,905,5346,3832
202,大丸松坂屋お得意様\nゴールド Ｍａｓｔｅｒ,3283,1334,3173,3398,3386,2240,7458,1145,810,0,144,625,468
209,臨時カード（即発）,3,7,11,6,6,16,27,3,9,0,0,0,0

In [221]:
df = df.drop(df.index[0])
df.reset_index(drop=True, inplace=True)

In [222]:
df.head()

,card,心斎橋店,梅田店,京都店,神戸店,東京店,札幌店,名古屋店,上野店,静岡店,銀座店,高槻店,下関店,高知大丸
0,大丸松坂屋カード\nＶＩＳＡ,83393,144403,148524,187588,101946,120456,162919,63627,56225,4279,24731,6571,0
1,大丸松坂屋カード\nＭａｓｔｅｒ,17050,29363,29672,40181,26570,16883,28252,10100,6782,934,3742,471,0
2,大丸松坂屋カード\nゴールドＶＩＳＡ,4204,3282,4264,8784,3563,2998,5124,1184,651,46,190,90,0
3,大丸松坂屋カード\nゴールドＭａｓｔｅｒ,1014,744,1055,1932,1210,771,1218,314,150,10,33,13,0
4,大丸松坂屋カード\nゴールドハウス,4238,1996,4033,13144,1676,4768,4716,1348,729,57,46,0,0

In [117]:
input_sheet_name[0]
yymm = input_sheet_name[0]
print(yymm)

2020.03

In [128]:
df_tmp = df[['card','心斎橋店']].rename(columns={'心斎橋店':'no_of_account'})
df_tmp['shop_name'] = '心斎橋店'
df_tmp['yymm'] = input_sheet_name[0]
df_tmp['year'] = df_tmp['yymm'].str[:4]
df_tmp['month'] = df_tmp['yymm'].str[5:]
df_tmp

                       card no_of_account shop_name     yymm  year month
83         大丸松坂屋カード\nＭａｓｔｅｒ         17050      心斎橋店  2020.03  2020    03
104      大丸松坂屋カード\nゴールドＶＩＳＡ          4204      心斎橋店  2020.03  2020    03
125    大丸松坂屋カード\nゴールドＭａｓｔｅｒ          1014      心斎橋店  2020.03  2020    03
146       大丸松坂屋カード\nゴールドハウス          4238      心斎橋店  2020.03  2020    03
174    大丸松坂屋お得意様\nゴールド ＶＩＳＡ         18244      心斎橋店  2020.03  2020    03
202  大丸松坂屋お得意様\nゴールド Ｍａｓｔｅｒ          3283      心斎橋店  2020.03  2020    03
209               臨時カード（即発）             3      心斎橋店  2020.03  2020    03

In [223]:
splitted=df['card'].str.split("\n",expand=True)

In [224]:
splitted.columns = ['A', 'B']
splitted

           A            B
0   大丸松坂屋カード         ＶＩＳＡ
1   大丸松坂屋カード       Ｍａｓｔｅｒ
2   大丸松坂屋カード     ゴールドＶＩＳＡ
3   大丸松坂屋カード   ゴールドＭａｓｔｅｒ
4   大丸松坂屋カード      ゴールドハウス
5  大丸松坂屋お得意様    ゴールド ＶＩＳＡ
6  大丸松坂屋お得意様  ゴールド Ｍａｓｔｅｒ
7  臨時カード（即発）         None

In [225]:
q = """
        SELECT
        case 
        when B like '%ハウス%' then 'ハウスゴールド'
        when B like '%ゴールド%' then 'ゴールド'
        else '一般'
        end as rank
        ,case 
        when B like '%Ｍａｓｔｅｒ%'  then 'Master'
        when B like '%ＶＩＳＡ%' then 'VISA'
        when B like '%ハウス%' then 'ハウスゴールド'
        else 'VISA'
        end as brand
        from 
            splitted
        """

splitted = sqldf(q, locals())
splitted

      rank    brand
0       一般     VISA
1       一般   Master
2     ゴールド     VISA
3     ゴールド   Master
4  ハウスゴールド  ハウスゴールド
5     ゴールド     VISA
6     ゴールド   Master
7       一般     VISA

In [226]:
df = pd.concat([df,splitted],axis = 1)

In [238]:
df

,card,心斎橋店,梅田店,京都店,神戸店,東京店,札幌店,名古屋店,上野店,静岡店,銀座店,高槻店,下関店,高知大丸,rank,brand
0,大丸松坂屋カード\nＶＩＳＡ,83393,144403,148524,187588,101946,120456,162919,63627,56225,4279,24731,6571,0,一般,VISA
1,大丸松坂屋カード\nＭａｓｔｅｒ,17050,29363,29672,40181,26570,16883,28252,10100,6782,934,3742,471,0,一般,Master
2,大丸松坂屋カード\nゴールドＶＩＳＡ,4204,3282,4264,8784,3563,2998,5124,1184,651,46,190,90,0,ゴールド,VISA
3,大丸松坂屋カード\nゴールドＭａｓｔｅｒ,1014,744,1055,1932,1210,771,1218,314,150,10,33,13,0,ゴールド,Master
4,大丸松坂屋カード\nゴールドハウス,4238,1996,4033,13144,1676,4768,4716,1348,729,57,46,0,0,ハウスゴールド,ハウスゴールド
5,大丸松坂屋お得意様\nゴールド ＶＩＳＡ,18244,6254,16802,18836,10819,9604,34693,6122,5419,1,905,5346,3832,ゴールド,VISA
6,大丸松坂屋お得意様\nゴールド Ｍａｓｔｅｒ,3283,1334,3173,3398,3386,2240,7458,1145,810,0,144,625,468,ゴールド,Master
7,臨時カード（即発）,3,7,11,6,6,16,27,3,9,0,0,0,0,一般,VISA

In [240]:
df['card'] = df['card'].str.replace("\n",'')

In [244]:
df['card'] = df['card'].str.replace("大丸松坂屋カード",'')
df['card'] = df['card'].str.replace("大丸松坂屋",'')

In [245]:
df

,card,心斎橋店,梅田店,京都店,神戸店,東京店,札幌店,名古屋店,上野店,静岡店,銀座店,高槻店,下関店,高知大丸,rank,brand
0,ＶＩＳＡ,83393,144403,148524,187588,101946,120456,162919,63627,56225,4279,24731,6571,0,一般,VISA
1,Ｍａｓｔｅｒ,17050,29363,29672,40181,26570,16883,28252,10100,6782,934,3742,471,0,一般,Master
2,ゴールドＶＩＳＡ,4204,3282,4264,8784,3563,2998,5124,1184,651,46,190,90,0,ゴールド,VISA
3,ゴールドＭａｓｔｅｒ,1014,744,1055,1932,1210,771,1218,314,150,10,33,13,0,ゴールド,Master
4,ゴールドハウス,4238,1996,4033,13144,1676,4768,4716,1348,729,57,46,0,0,ハウスゴールド,ハウスゴールド
5,お得意様ゴールド ＶＩＳＡ,18244,6254,16802,18836,10819,9604,34693,6122,5419,1,905,5346,3832,ゴールド,VISA
6,お得意様ゴールド Ｍａｓｔｅｒ,3283,1334,3173,3398,3386,2240,7458,1145,810,0,144,625,468,ゴールド,Master
7,臨時カード（即発）,3,7,11,6,6,16,27,3,9,0,0,0,0,一般,VISA

In [ ]:
list = ['心斎橋店','梅田店']

In [359]:
li = []
shop_list = ['心斎橋店','梅田店',"京都店","神戸店","東京店","札幌店","名古屋店","上野店","静岡店","銀座店","高槻店","下関店","高知大丸"]
otoku_list = ['お得意様ゴールド ＶＩＳＡ','お得意様ゴールドＭａｓｔｅｒ']

for i in range(0,num_sheet-1):
    for shop in shop_list:
        df = input_book.parse(input_sheet_name[i])
        df = df.iloc[[47,62,83,104,125,146,174,202,209],[1,4,5,6,7,8,9,10,11,12,13,14,15,17]]#本月末口座数の行と店舗名の列だけ抽出
        df = df.rename(columns={"Unnamed: 1":"card",
                        "Unnamed: 4":"心斎橋店",
                        "Unnamed: 5":"梅田店",
                        "Unnamed: 6":"京都店",
                        "Unnamed: 7":"神戸店",
                        "Unnamed: 8":"東京店",
                        "Unnamed: 9":"札幌店",
                        "Unnamed: 10":"名古屋店",
                        "Unnamed: 11":"上野店",
                        "Unnamed: 12":"静岡店",
                        "Unnamed: 13":"銀座店",
                        "Unnamed: 14":"高槻店",
                        "Unnamed: 15":"下関店",
                        "Unnamed: 17":"高知大丸"})
        df = df.drop(df.index[0])#値の入ってない最初の行を削除
        df = df[['card',shop]].rename(columns={shop:'no_of_account'})
        df['shop_name'] = shop
        #余計な文字削除
        df['card'] = df['card'].str.replace("\n",'')
        df['card'] = df['card'].str.replace("大丸松坂屋カード",'')
        df['card'] = df['card'].str.replace("大丸松坂屋",'')

        #ブランド分け
        df.loc[df['card'] == "ＶＩＳＡ", 'brand'] = 'VISA'
        df.loc[df['card'] == "ゴールドＶＩＳＡ", 'brand'] = 'VISA'
        df.loc[df['card'] == "お得意様ゴールド ＶＩＳＡ", 'brand'] = 'VISA'
        
        df.loc[df['card'] == "Ｍａｓｔｅｒ", 'brand'] = 'Master'
        df.loc[df['card'] == "ゴールドＭａｓｔｅｒ", 'brand'] = 'Master'
        df.loc[df['card'] == "お得意様ゴールド Ｍａｓｔｅｒ", 'brand'] = 'Master'
    
        df.loc[df['card'] == "ゴールドハウス", 'brand'] = 'ハウス'
        
        df.loc[df['card'] == "臨時カード（即発）", 'brand'] = 'VISA'

        df.loc[df['card'].str.match('ＶＩＳＡ'), 'card'] = '一般'
        df.loc[df['card'].str.match('Ｍａｓｔｅｒ'), 'card'] = '一般'
        
        df.loc[df['card'] == "臨時カード（即発）", 'card'] = '臨時カード'
        
        df['card'] = df['card'].str.replace("ＶＩＳＡ",'')
        df['card'] = df['card'].str.replace("Ｍａｓｔｅｒ",'')
                #年月の列を作成
        df['yymm'] = input_sheet_name[i]
        df['year'] = df['yymm'].str[:4]
        df['month'] = df['yymm'].str[5:]
        df = df.drop(columns={'yymm'})
                
        li.append(df)
        df_all = pd.concat(li, axis=0, ignore_index=True)

df_all = df_all.reindex(columns = ['year','month','brand','card','shop_name','no_of_account'])

In [360]:
df_all

     year month   brand       card shop_name no_of_account
0    2020    03    VISA         一般      心斎橋店         83393
1    2020    03  Master         一般      心斎橋店         17050
2    2020    03    VISA       ゴールド      心斎橋店          4204
3    2020    03  Master       ゴールド      心斎橋店          1014
4    2020    03     ハウス    ゴールドハウス      心斎橋店          4238
..    ...   ...     ...        ...       ...           ...
619  2020    08  Master       ゴールド      高知大丸             0
620  2020    08     ハウス    ゴールドハウス      高知大丸             0
621  2020    08    VISA  お得意様ゴールド       高知大丸          3744
622  2020    08  Master  お得意様ゴールド       高知大丸           459
623  2020    08    VISA      臨時カード      高知大丸             0

[624 rows x 6 columns]

In [352]:
df_all.groupby(['card','month'])['no_of_account'].sum()

card       month
お得意様ゴールド   03        164341
           04        164324
           05        164342
           06        164932
           07        165685
           08        166081
ゴールド       03         42844
           04         42674
           05         42503
           06         42347
           07         42303
           08         42198
ゴールドハウス    03         36751
           04         36589
           05         36346
           06         36062
           07         35800
           08         35578
一般         03       1314662
           04       1306360
           05       1298349
           06       1289100
           07       1281205
           08       1272037
臨時カード（即発）  03            88
           04             4
           05            16
           06            63
           07            47
           08           112
Name: no_of_account, dtype: int64

In [ ]:
list = ['心斎橋店','梅田店']
for shop in list;
    input_no_account = df[]

In [86]:
i_m = list(['心斎橋店','梅田店'])
print(i_m)

['心斎橋店', '梅田店']

In [88]:
list = ['心斎橋店','梅田店']
list

['心斎橋店', '梅田店']

In [95]:
for i in list:
    input_visitor_df = df[i]
    print(input_visitor_df)

83     17050
104     4204
125     1014
146     4238
174    18244
202     3283
209        3
Name: 心斎橋店, dtype: object
83     29363
104     3282
125      744
146     1996
174     6254
202     1334
209        7
Name: 梅田店, dtype: object

In [92]:
print(input_visitor_df)

62     144403
83      29363
104      3282
125       744
146      1996
174      6254
202      1334
209         7
Name: 梅田店, dtype: object

In [76]:
len(df.columns)

14

In [75]:
trans_df

,card,心斎橋店,shop,梅田店,京都店,神戸店,東京店,札幌店,名古屋店,上野店,静岡店,銀座店,高槻店,下関店,高知大丸
62,大丸松坂屋カード\nＶＩＳＡ,83393,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,大丸松坂屋カード\nＭａｓｔｅｒ,17050,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,大丸松坂屋カード\nゴールドＶＩＳＡ,4204,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,大丸松坂屋カード\nゴールドＭａｓｔｅｒ,1014,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,大丸松坂屋カード\nゴールドハウス,4238,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,大丸松坂屋カード\nゴールドＭａｓｔｅｒ,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
146,大丸松坂屋カード\nゴールドハウス,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
174,大丸松坂屋お得意様\nゴールド ＶＩＳＡ,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3832
202,大丸松坂屋お得意様\nゴールド Ｍａｓｔｅｒ,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,468
209,臨時カード（即発）,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [65]:
orders_df = df.stack().reset_index()

In [68]:
orders_df.head(20)

    level_0 level_1                 0
0        62    card    大丸松坂屋カード\nＶＩＳＡ
1        62    心斎橋店             83393
2        62     梅田店            144403
3        62     京都店            148524
4        62     神戸店            187588
5        62     東京店            101946
6        62     札幌店            120456
7        62    名古屋店            162919
8        62     上野店             63627
9        62     静岡店             56225
10       62     銀座店              4279
11       62     高槻店             24731
12       62     下関店              6571
13       62    高知大丸                 0
14       83    card  大丸松坂屋カード\nＭａｓｔｅｒ
15       83    心斎橋店             17050
16       83     梅田店             29363
17       83     京都店             29672
18       83     神戸店             40181
19       83     東京店             26570

In [70]:
#余計な行と列を削除
input_sheet_df = input_book.parse(input_sheet_name[1],
                                  skiprows =4,
                                  skipfooter = 1,
                                 usecols = [2,22])

In [71]:
#余計な行を削除
input_sheet_df = input_sheet_df.iloc[0:6,:]

In [72]:
#列名を変更
input_sheet_df = input_sheet_df.rename(columns={"Unnamed: 2":"brand",
                                                "総合計":"no_of_approval"})

In [73]:
input_sheet_df

            brand no_of_approval
0          一般VISA           3266
1        一般Master            474
2        ゴールドVISA            116
3      ゴールドMaster             36
4    お得意様ゴールドVISA            851
5  お得意様ゴールドMaster            303

In [74]:
#シート名からmonthの列を生成
input_sheet_df['month'] = input_book.sheet_names[1]

In [75]:
#ファイル名を取得
input_sheet_df["file_name"] = input_file

In [76]:
#ファイル名からyearの列を生成
input_sheet_df["year"] = input_sheet_df["file_name"].str[:4]

In [78]:
#一時的に生成した列を削除
input_sheet_df = input_sheet_df.drop(columns = {"file_name"})

In [82]:
input_sheet_df

            brand no_of_approval month  year
0          一般VISA           3266     3  2020
1        一般Master            474     3  2020
2        ゴールドVISA            116     3  2020
3      ゴールドMaster             36     3  2020
4    お得意様ゴールドVISA            851     3  2020
5  お得意様ゴールドMaster            303     3  2020

In [83]:
input_sheet_df = input_sheet_df.reindex(columns=["year","month","brand","no_of_approval"])

In [84]:
input_sheet_df

   year month           brand no_of_approval
0  2020     3          一般VISA           3266
1  2020     3        一般Master            474
2  2020     3        ゴールドVISA            116
3  2020     3      ゴールドMaster             36
4  2020     3    お得意様ゴールドVISA            851
5  2020     3  お得意様ゴールドMaster            303

In [ ]:
#他のシートもまとめて

In [115]:
output_df = pd.DataFrame(index=[], columns=[])
for i in range(1,7):
    #余計な行と列を削除
    input_sheet_df = input_book.parse(input_sheet_name[i],
                                  skiprows =4,
                                  skipfooter = 1,
                                 usecols = [2,22])
    #余計な行を削除
    input_sheet_df = input_sheet_df.iloc[0:10,:]
    input_sheet_df = input_sheet_df.drop(7)
    
    input_sheet_df = input_sheet_df.replace({'VISA　(グループ※1)': "一般VISA", 'Master(グループ※2)': '一般Master'})
    #列名を変更
    input_sheet_df = input_sheet_df.rename(columns={"Unnamed: 2":"brand",
                                                "総合計":"no_of_approval"})
    #シート名からmonthの列を生成
    input_sheet_df['month'] = input_book.sheet_names[i]
    #ファイル名を取得
    input_sheet_df["file_name"] = input_file
    #ファイル名からyearの列を生成
    input_sheet_df["year"] = input_sheet_df["file_name"].str[:4]
    #一時的に生成した列を削除
    input_sheet_df = input_sheet_df.drop(columns = {"file_name"})
    
    #以上シートごとに処理したデータフレームを一つのデータフレームに統合
    output_df = pd.concat([output_df,input_sheet_df])
    
    #列の並べ替え
    output_df = output_df.reindex(columns=["year","month","brand","no_of_approval"])

In [116]:
output_df

   year month           brand  no_of_approval
0  2020     3          一般VISA            3266
1  2020     3        一般Master             474
2  2020     3        ゴールドVISA             116
3  2020     3      ゴールドMaster              36
4  2020     3    お得意様ゴールドVISA             851
5  2020     3  お得意様ゴールドMaster             303
6  2020     3          臨時(即発)             481
8  2020     3          一般VISA               1
9  2020     3        一般Master               3
0  2020     4          一般VISA             676
1  2020     4        一般Master             103
2  2020     4        ゴールドVISA              35
3  2020     4      ゴールドMaster              15
4  2020     4    お得意様ゴールドVISA             350
5  2020     4  お得意様ゴールドMaster             137
6  2020     4          臨時(即発)              89
8  2020     4          一般VISA               0
9  2020     4        一般Master               0
0  2020     5          一般VISA             705
1  2020     5        一般Master             202
2  2020     5        ゴールドVISA              24
3  2020     5      ゴールドMaster              10
4  2020     5    お得意様ゴールドVISA             352
5  2020     5  お得意様ゴールドMaster             123
6  2020     5          臨時(即発)              40
8  2020     5          一般VISA               0
9  2020     5        一般Master               0
0  2020     6          一般VISA            1196
1  2020     6        一般Master             319
2  2020     6        ゴールドVISA              83
3  2020     6      ゴールドMaster              20
4  2020     6    お得意様ゴールドVISA             775
5  2020     6  お得意様ゴールドMaster             235
6  2020     6          臨時(即発)             338
8  2020     6          一般VISA               0
9  2020     6        一般Master               1
0  2020     7          一般VISA            1813
1  2020     7        一般Master             447
2  2020     7        ゴールドVISA             110
3  2020     7      ゴールドMaster              35
4  2020     7    お得意様ゴールドVISA            1009
5  2020     7  お得意様ゴールドMaster             316
6  2020     7          臨時(即発)             462
8  2020     7          一般VISA               0
9  2020     7        一般Master               1
0  2020     8          一般VISA            1576
1  2020     8        一般Master             411
2  2020     8        ゴールドVISA             136
3  2020     8      ゴールドMaster              42
4  2020     8    お得意様ゴールドVISA             894
5  2020     8  お得意様ゴールドMaster             282
6  2020     8          臨時(即発)             498
8  2020     8          一般VISA               0
9  2020     8        一般Master               0

In [117]:
output_df.groupby(["year","month"])["no_of_approval"].sum()

year  month
2020  3        5531
      4        1405
      5        1456
      6        2967
      7        4193
      8        3839
Name: no_of_approval, dtype: int64

In [118]:
output_df.groupby(["year","month","brand"])["no_of_approval"].sum()

year  month  brand
2020  3      お得意様ゴールドMaster     303
             お得意様ゴールドVISA       851
             ゴールドMaster          36
             ゴールドVISA           116
             一般Master           477
             一般VISA            3267
             臨時(即発)             481
      4      お得意様ゴールドMaster     137
             お得意様ゴールドVISA       350
             ゴールドMaster          15
             ゴールドVISA            35
             一般Master           103
             一般VISA             676
             臨時(即発)              89
      5      お得意様ゴールドMaster     123
             お得意様ゴールドVISA       352
             ゴールドMaster          10
             ゴールドVISA            24
             一般Master           202
             一般VISA             705
             臨時(即発)              40
      6      お得意様ゴールドMaster     235
             お得意様ゴールドVISA       775
             ゴールドMaster          20
             ゴールドVISA            83
             一般Master           320
             一般VISA            1196
             臨時(即発)             338
      7      お得意様ゴールドMaster     316
             お得意様ゴールドVISA      1009
             ゴールドMaster          35
             ゴールドVISA           110
             一般Master           448
             一般VISA            1813
             臨時(即発)             462
      8      お得意様ゴールドMaster     282
             お得意様ゴールドVISA       894
             ゴールドMaster          42
             ゴールドVISA           136
             一般Master           411
             一般VISA            1576
             臨時(即発)             498
Name: no_of_approval, dtype: int64

In [6]:
print(yyyymmdd)

20200101

新規Vintage CUSTデータの読込＆集計

In [8]:
df = pd.read_excel(data_dir /f"{input_file}",encoding='shift-jis')

In [26]:
df = pd.read_excel(data_dir /f"{input_file}",
                  dtype={'カード加入日':int,
                        'カード提携会社1CD':str,
                        'カード提携会社2CD':str,
                        '切替CD':str,
                        '提携カード特殊エリア':str,
                        '受付部支店':str,
                        'リボ支払方法CD':str,
                        'エンボス内容':str,
                        'カード種類CD':str,
                        '入会申込番号':str,
                        '提携先顧客番号1':str},encoding='shift-jis')
df = df[df['カード加入日'] >= yyyymmdd]

In [27]:
df.head()

,カード加入日,続柄,カード提携会社1CD,カード提携会社2CD,カード種類CD,カードブランドCD,切替CD,勧誘CD,受付部支店,再発行CD,旧カード種類CD,旧カードブランドCD,リボ支払方法CD,勧誘団体CD,提携カード特殊エリア,エンボス内容,カード年会費CD,入会申込番号,提携先顧客番号1
0,20200301,0,D00,50,31,0,0,8,106,0,NaN,NaN,12,4000,20,06000079005,1,155193037597925,NaN
1,20200301,0,D00,50,31,0,0,8,103,0,NaN,NaN,12,3000,20,03000914305,1,155193037597644,NaN
2,20200301,0,D00,50,31,0,0,8,170,0,NaN,NaN,12,10000,20,10000872121,1,155193037597610,NaN
3,20200301,0,D00,50,31,0,0,8,102,0,NaN,NaN,12,2000,20,02000914214,1,155193037597081,NaN
4,20200301,0,D00,50,31,0,0,8,106,0,NaN,NaN,12,6000,20,06000401014,1,155193037597719,NaN

In [28]:
print(df.dtypes)

カード加入日          int32
続柄              int64
カード提携会社1CD     object
カード提携会社2CD     object
カード種類CD        object
カードブランドCD       int64
切替CD           object
勧誘CD            int64
受付部支店          object
再発行CD           int64
旧カード種類CD      float64
旧カードブランドCD    float64
リボ支払方法CD       object
勧誘団体CD          int64
提携カード特殊エリア     object
エンボス内容         object
カード年会費CD        int64
入会申込番号         object
提携先顧客番号1       object
dtype: object

In [29]:
df = df.rename(columns={'カード加入日':'kanyu_date',
                        '続柄':'zokugara',
                        'カード提携会社1CD':'teikei_1',
                        'カード提携会社2CD':'teikei_2',
                        '切替CD':'kirikae',
                        '提携カード特殊エリア':'tokushu',
                        '受付部支店':'uketuke',
                        'カード種類CD':'card',
                        '入会申込番号':'applino',
                        '提携先顧客番号1':'campaign_cd'})
df.head()

,kanyu_date,zokugara,teikei_1,teikei_2,card,カードブランドCD,kirikae,勧誘CD,uketuke,再発行CD,旧カード種類CD,旧カードブランドCD,リボ支払方法CD,勧誘団体CD,tokushu,エンボス内容,カード年会費CD,applino,campaign_cd
0,20200301,0,D00,50,31,0,0,8,106,0,NaN,NaN,12,4000,20,06000079005,1,155193037597925,NaN
1,20200301,0,D00,50,31,0,0,8,103,0,NaN,NaN,12,3000,20,03000914305,1,155193037597644,NaN
2,20200301,0,D00,50,31,0,0,8,170,0,NaN,NaN,12,10000,20,10000872121,1,155193037597610,NaN
3,20200301,0,D00,50,31,0,0,8,102,0,NaN,NaN,12,2000,20,02000914214,1,155193037597081,NaN
4,20200301,0,D00,50,31,0,0,8,106,0,NaN,NaN,12,6000,20,06000401014,1,155193037597719,NaN

In [30]:
print(df['campaign_cd'].unique())

[nan '4980132204845009' '6900109524082515' ... '4980132306299006'
 '4980682053187002' '5279253344018005']

In [32]:
q = """
        SELECT
        kanyu_date
        ,case 
            when substr(tokushu,1,2) = "20" then '店頭タブレット'
            when uketuke = "299" and substr(campaign_cd,1,2) = "10" then 'オンライン(百貨店送客)'
            when uketuke = "299" then 'オンライン'
            when uketuke in ("200","001") then '郵送'
            else '店頭紙' 
            end as uketsuke_channel
        ,case 
            when kirikae = "0" then 'N/A'
            when substr(tokushu,1,2) = "80" then 'DM'
            when substr(tokushu,1,2) = "81" then "コンタクト"
            when substr(tokushu,1,2) = "86" then "店頭"
            else "店頭"
            end as kirikae_channel
        ,case
            when teikei_2 =50 then '臨時'
            when teikei_1 ="D02" then '外商'
            when teikei_2 ="05" then 'ハウスゴールド'
            when card ="02"  then 'ゴールド'
            else '一般'
            end as card_shubetsu
        ,case 
            when zokugara = 0 then '本人'
            else '家族' 
            end as kazoku_shubetsu
        ,sum(case when kirikae = "0" then 1 else 0 end ) as no_of_new
        ,sum(case when kirikae = "1" then 1 else 0 end ) as no_of_kirikae
        FROM 
          df
        where
          teikei_2 not in ("95") 
        group by
        1,2,3,4,5
        """

In [33]:
df_sql = sqldf(q, locals())
df_sql['kanyu_date']=pd.to_datetime(df_sql['kanyu_date'], format='%Y%m%d')
df_sql['kanyu_year'] = df_sql['kanyu_date'].dt.year
df_sql['kanyu_month'] = df_sql['kanyu_date'].dt.month
df_sql['kanyu_day'] = df_sql['kanyu_date'].dt.day
df_sql['kanyu_date'] = df_sql['kanyu_date'].dt.strftime('%Y/%m/%d')
df_sql.head()

,kanyu_date,uketsuke_channel,kirikae_channel,card_shubetsu,kazoku_shubetsu,no_of_new,no_of_kirikae,kanyu_year,kanyu_month,kanyu_day
0,2020/03/01,店頭タブレット,N/A,臨時,本人,12,0,2020,3,1
1,2020/03/02,オンライン,N/A,ゴールド,本人,2,0,2020,3,2
2,2020/03/02,オンライン,N/A,一般,本人,25,0,2020,3,2
3,2020/03/02,店頭タブレット,N/A,ゴールド,家族,2,0,2020,3,2
4,2020/03/02,店頭タブレット,N/A,ゴールド,本人,3,0,2020,3,2

CSVアウトプット

In [34]:
df_sql.to_csv(data_dir /f"{output_file}.csv", index=None,header=True,encoding='utf-8-sig')